Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: c, clojure, cpp, crystal, csharp, dart, elixir, fsharp, go, haskell, java, javascript, julia, kotlin, nim, perl, php, antidot, chubbyphp, hyperf, laravel, lumen, sunrise-router-annotations, yii-swoole, pony, python, r, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro, rust, scala, swift

Path conditions:
  c: any of: c/
  clojure: any of: clojure/
  cpp: any of: cpp/
  crystal: any of: crystal/
  csharp: any of: csharp/
  dart: any of: dart/
  elixir: any of: elixir/
  fsharp: any of: fsharp/
  go: any of: go/
  haskell: any of: haskell/
  java: any of: java/
  javascript: any of: javascript/
  julia: any of: julia/
  kotlin: any of: kotlin/
  nim: any of: nim/
  perl: any of: perl/
  php: any of: php/
  antidot: any of: php/antidot
  chubbyphp: any of: php/chubbyphp
  hyperf: any of: php/hyperf
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  yii-swoole: any of: php/yii-swoole
  pony: any of: pony/
  python: any of: python/
  r: any of: r/
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro
  rust: any of: rust/
  scala: any of: scala/
  swift: any of: swift/

update version in results
  pony/config.yaml
Due: pony

Change baize(...) to baize-...
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  python/baize-asgi/config.yaml
  python/baize-asgi/requirements.txt
  python/baize-asgi/server.py
  python/baize-wsgi/config.yaml
  python/baize-wsgi/requirements.txt
  python/baize-wsgi/server.py
  reviewers.yaml
Due: python

Update dependency restana to ~4.9.0
  javascript/restana/package.json
Due: javascript

update version in results
  javascript/restana/config.yaml
Due: javascript

Update dependency olical:depot to v2.3.0
  clojure/coast/deps.edn
  clojure/yada/deps.edn
Due: clojure

ignore crystal version
  crystal/Dockerfile
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

add yaml static on container
  crystal/Dockerfile
Due: crystal

create orion source directory
  crystal/orion/shard.yml
  crystal/orion/src/server.cr
Due: crystal

specify crystal version in shard.yml
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

update runcobo to 2.0 which support crystal 1.0
  crystal/runcobo/config.yaml
  crystal/runcobo/shard.yml
Due: crystal

upgrade to 1.0
  crystal/Dockerfile
  crystal/config.yaml
Due: crystal

add reviewer fron router.cr [skip ci]
  reviewers.yaml
Due: none

remove version workaround
  crystal/Dockerfile
Due: crystal

[Crystal] Update kemal to v1 (#4099)
  crystal/kemal/config.yaml
  crystal/kemal/shard.yml
Due: crystal

remove --production flag on shards
  crystal/Dockerfile
Due: crystal

[Crystal] Update spider-gazelle to v4.3 (#4132)
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Due: crystal

Disabled OGNL SecurityManager on init to improve performance
  java/struts2/config.yaml
Due: java

missing gemfiles
  ruby/grape/.falcon/Gemfile
  ruby/grape/.iodine/Gemfile
  ruby/sinatra/.falcon/Gemfile
  ruby/sinatra/.iodine/Gemfile
Due: ruby, grape, sinatra

test only rails
  Rakefile
Due: none

add iodine
  Rakefile
  ruby/config.yaml
Due: ruby

add run-all wrapper
  .tasks/db.rake
  Rakefile
  config.yaml
Due: none

create configuration for all ruby frameworks
  Rakefile
Due: none

fix specs
  .tasks/db.rake
  README.mustache.md
Due: none

enable semaphore
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Rakefile
  config.yaml
Due: none

use workdir to run all operations (avoid cd)
  Rakefile
  config.yaml
Due: none

introduce variants
  .tasks/collect.rake
  Rakefile
  ruby/Dockerfile
  ruby/config.yaml
Due: ruby

add sinatra in ruby block
  ruby/rails/.falcon/Gemfile
  ruby/rails/.iodine/Gemfile
Due: ruby, rails

display mutliple variants on README
  .spec/route_spec.rb
  .spec/spec_helper.rb
  .tasks/ci.rake
  .tasks/collect.rake
  .tasks/db.rake
  .tasks/support.rb
  Makefile
  README.mustache.md
  dump.sql
  ruby/agoo/app.rb
Due: ruby, agoo

add gemfile for iodine/falcon for all ruby frameworks (except agoo)
  ruby/camping/.falcon/Gemfile
  ruby/camping/.iodine/Gemfile
  ruby/cuba/.falcon/Gemfile
  ruby/cuba/.iodine/Gemfile
  ruby/hanami-api/.falcon/Gemfile
  ruby/hanami-api/.iodine/Gemfile
  ruby/rack-routing/.falcon/Gemfile
  ruby/rack-routing/.iodine/Gemfile
  ruby/rack_app/.falcon/Gemfile
  ruby/rack_app/.iodine/Gemfile
  ruby/roda/.falcon/Gemfile
  ruby/roda/.iodine/Gemfile
  ruby/syro/.falcon/Gemfile
  ruby/syro/.iodine/Gemfile
Due: ruby, camping, cuba, hanami-api, rack-routing, rack_app, roda, syro

missing routes file for rack-routing
  ruby/rack-routing/config.yaml
Due: ruby, rack-routing

auto-generate ci config
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
  ruby/rails/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, sinatra, syro

decrease config size
  .tasks/db.rake
  dump.sql
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
  ruby/rails/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, sinatra, syro

use default engine, if provided
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

fix laravel
  .tasks/ci.rake
  Rakefile
  php/laravel/config.yaml
Due: php, laravel

update ci
  .semaphore/semaphore.yml
Due: none

update ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

Update module github.com/gogf/gf to v1.15.7
  go/gf/go.mod
Due: go

add antidot on react
  .semaphore/semaphore.yml
  .tasks/ci.rake
  php/antidot/config.yaml
Due: php, antidot
