Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: c, clojure, cpp, crystal, csharp, dart, elixir, fsharp, go, haskell, java, javascript, julia, kotlin, nim, perl, php, antidot, chubbyphp, hyperf, laravel, lumen, sunrise-router-annotations, yii-swoole, pony, python, r, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro, rust, scala, swift

Path conditions:
  c: any of: c/
  clojure: any of: clojure/
  cpp: any of: cpp/
  crystal: any of: crystal/
  csharp: any of: csharp/
  dart: any of: dart/
  elixir: any of: elixir/
  fsharp: any of: fsharp/
  go: any of: go/
  haskell: any of: haskell/
  java: any of: java/
  javascript: any of: javascript/
  julia: any of: julia/
  kotlin: any of: kotlin/
  nim: any of: nim/
  perl: any of: perl/
  php: any of: php/
  antidot: any of: php/antidot
  chubbyphp: any of: php/chubbyphp
  hyperf: any of: php/hyperf
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  yii-swoole: any of: php/yii-swoole
  pony: any of: pony/
  python: any of: python/
  r: any of: r/
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro
  rust: any of: rust/
  scala: any of: scala/
  swift: any of: swift/

add clean command
  .gitignore
  .ruby-version
  .talismanrc
  Rakefile
  c/.gitignore
  clojure/.gitignore
  crystal/.gitignore
  dart/.gitignore
  haskell/.gitignore
  javascript/.gitignore
  kotlin/.gitignore
  php/laravel/.swoole/composer.json
  php/laravel/.workerman/composer.json
  php/laravel/bin/laravels
  python/.gitignore
  swift/.gitignore
Due: c, clojure, crystal, dart, haskell, javascript, kotlin, php, laravel, python, swift

add file exclusion ability
  Rakefile
  php/config.yaml
  php/laravel/config.yaml
  php/lumen/config.yaml
Due: php, laravel, lumen

fix ruby version to 3.0
  .ruby-version
Due: none

remove ruby version file
  .ruby-version
Due: none

fix files exlusion list
  php/config.yaml
  php/laravel/config.yaml
Due: php, laravel

fix ruby dockerfile
  ruby/Dockerfile
Due: ruby

use absolute paths
  .gitignore
  php/antidot/config.yaml
Due: php, antidot

add cli to for lumen
  Rakefile
  php/lumen/artisan
Due: php, lumen

no need to set ruby version, use default on ci
  .tasks/ci.rake
Due: none

use ruby 3 on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

use makefile to clean v1 temp files
  Makefile
Due: none

fix laravel-s
  php/laravel/config.yaml
  php/laravel/config/laravels.php
  php/lumen/config.yaml
  php/lumen/config/laravels.php
Due: php, laravel, lumen

specify ruby version
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

add all available variants on CI
  .gitignore
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/support.rb
  php/hyperf/config.yaml
Due: php, hyperf

update crystal gitignore file
  crystal/.gitignore
Due: crystal

insert variant on collect step
  .tasks/collect.rake
Due: none

fix config parsing
  .semaphore/semaphore.yml
  Rakefile
Due: none

update ci config
  .semaphore/semaphore.yml
Due: none

remove results from readme
  .tasks/db.rake
  README.md
  README.mustache.md
Due: none

[Python] Add framework baize (#4233)
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  python/baize-asgi/config.yaml
  python/baize-asgi/requirements.txt
  python/baize-asgi/server.py
  python/baize-wsgi/config.yaml
  python/baize-wsgi/requirements.txt
  python/baize-wsgi/server.py
  reviewers.yaml
Due: python

update
  crystal/athena/config.yaml
  crystal/athena/shard.yml
Due: crystal

update results
  data.json
  data.min.json
Due: none

add hardware section
  data.min.json
Due: none

add hardware section
  .tasks/db.rake
  data.json
  data.min.json
Due: none

[Crystal] Update athena to 0.14 (#4244)
  crystal/athena/config.yaml
  crystal/athena/shard.yml
Due: crystal

update ci config
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

update athena
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  data.json
  data.min.json
Due: none

Update dependency jonase:eastwood to v0.4.1
  clojure/luminus/project.clj
Due: clojure

add reviewer fron router.cr [skip ci]
  reviewers.yaml
Due: none

upgrade to 1.0
  crystal/Dockerfile
  crystal/config.yaml
Due: crystal

remove --production flag on shards
  crystal/Dockerfile
Due: crystal

specify crystal version in shard.yml
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

ignore crystal version
  crystal/Dockerfile
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

[Crystal] Update kemal to v1 (#4099)
  crystal/kemal/config.yaml
  crystal/kemal/shard.yml
Due: crystal

[Crystal] Update spider-gazelle to v4.3 (#4132)
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Due: crystal

add yaml static on container
  crystal/Dockerfile
Due: crystal
