Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, laravel-s-laravel, laravel-s-lumen, lumen, mark, mezzio, nano, nette, one, phalcon, siler, siler-swoole, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii

php:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
    - psql -U postgres -h 0.0.0.0 -d benchmark < dump.sql
  ...

antidot:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: antidot
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

basicphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: basicphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

bearframework:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: bearframework
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

chubbyphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: chubbyphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

codeigniter4:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: codeigniter4
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

comet:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: comet
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

cubex:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: cubex
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

driftphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: driftphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

Multiple engines, for javascript (#4274)
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
  javascript/0http/.uwebsockets/app.js
  javascript/0http/.uwebsockets/package.json
  javascript/0http/config.yaml
  javascript/Dockerfile
  javascript/config.yaml
  javascript/fyrejet-uwebsockets/config.yaml
  javascript/fyrejet/.uwebsockets/app.json
  javascript/fyrejet/.uwebsockets/package.json
  javascript/fyrejet/config.yaml
  javascript/low-http-server/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/naturaljs-router/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  javascript/polka/.turbo-net/app.js
  javascript/polka/.turbo-net/package.json
  javascript/sails/config.yaml
  javascript/sifrr/config.yaml
  javascript/turbo_polka/config.yaml
Due: none

Update module github.com/gofiber/fiber/v2 to v2.10.0
  go/fiber/go.mod
Due: none

update result
  go/fiber/config.yaml
Due: none

Update dependency vapor/vapor to from: "4.45.4"
  swift/vapor-framework/Package.swift
Due: none

update version in results
  pony/config.yaml
Due: none

Update ponylang/ponyc Docker tag to v0.41.0
  pony/Dockerfile
Due: none

update shivneri (#4252)
  crystal/shivneri/config.yaml
  crystal/shivneri/shard.yml
Due: none

remove --production flag on shards
  crystal/Dockerfile
Due: none

upgrade to 1.0
  crystal/Dockerfile
  crystal/config.yaml
Due: none

update runcobo to 2.0 which support crystal 1.0
  crystal/runcobo/config.yaml
  crystal/runcobo/shard.yml
Due: none

ignore crystal version
  crystal/Dockerfile
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: none

add yaml static on container
  crystal/Dockerfile
Due: none

remove version workaround
  crystal/Dockerfile
Due: none

[Crystal] Update spider-gazelle to v4.3 (#4132)
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Due: none

create orion source directory
  crystal/orion/shard.yml
  crystal/orion/src/server.cr
Due: none

add reviewer fron router.cr [skip ci]
  reviewers.yaml
Due: none

update orion
  crystal/orion/shard.yml
Due: none

specify crystal version in shard.yml
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: none

[Crystal] Update kemal to v1 (#4099)
  crystal/kemal/config.yaml
  crystal/kemal/shard.yml
Due: none

do not use patch level in docker tags
  php/Dockerfile
Due: php

add reviewer for sunrise
  reviewers.yaml
Due: none

update version in results
  php/config.yaml
Due: php

update ice version
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php, ice

use php8 annotations for ubiquity
  php/ubiquity/composer.json
Due: php, ubiquity

namespace change
  php/nano/index.php
Due: php, nano

remove restriction
  php/ubiquity/composer.json
Due: php, ubiquity

remove temporary composer constraint for ice
  php/ice/composer.json
Due: php, ice

update ice to 1.7
  php/ice/config.yaml
Due: php, ice

no need to force php version check
  php/sw-fw-less/composer.json
Due: php, sw-fw-less

[PHP] Update ice to 1.8 (#3982)
  php/ice/config.yaml
Due: php, ice

[PHP] Update sunrise Router to 2.5 (#3654)
  scala/http4s/project/plugins.sbt
Due: none

use pecl for php8
  php/Dockerfile
Due: php

fix composer for one fpm
  php/one-fpm/composer.json
Due: php

no need to setup json module on php8 -> https://wiki.php.net/rfc/always_enable_json
  php/codeigniter4/config.yaml
Due: php, codeigniter4

use pecl version for ice
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php, ice

[PHP] Upgrade containers to 8.0 (#3606)
  php/one-fpm/composer.json
Due: php

use new pecl packages
  php/Dockerfile
Due: php

Update config.yaml
  php/nano/config.yaml
Due: php, nano

Path conditions:
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  laravel-s-laravel: any of: php/laravel-s-laravel
  laravel-s-lumen: any of: php/laravel-s-lumen
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  siler-swoole: any of: php/siler-swoole
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii
