Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: c, clojure, cpp, crystal, csharp, dart, elixir, fsharp, go, haskell, java, javascript, julia, kotlin, nim, perl, php, antidot, chubbyphp, hyperf, laravel, lumen, sunrise-router-annotations, yii-swoole, pony, python, r, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro, rust, scala, swift

Path conditions:
  c: any of: c/
  clojure: any of: clojure/
  cpp: any of: cpp/
  crystal: any of: crystal/
  csharp: any of: csharp/
  dart: any of: dart/
  elixir: any of: elixir/
  fsharp: any of: fsharp/
  go: any of: go/
  haskell: any of: haskell/
  java: any of: java/
  javascript: any of: javascript/
  julia: any of: julia/
  kotlin: any of: kotlin/
  nim: any of: nim/
  perl: any of: perl/
  php: any of: php/
  antidot: any of: php/antidot
  chubbyphp: any of: php/chubbyphp
  hyperf: any of: php/hyperf
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  yii-swoole: any of: php/yii-swoole
  pony: any of: pony/
  python: any of: python/
  r: any of: r/
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro
  rust: any of: rust/
  scala: any of: scala/
  swift: any of: swift/

missing www [skip ci]
  fsharp/falco/config.yaml
Due: fsharp

[F#] Fix falco URL [skip ci] (#4143)
  fsharp/falco/config.yaml
Due: fsharp

remove acquect [skip ci]
  dart/aqueduct/config.yaml
  dart/aqueduct/main.dart
  dart/aqueduct/pubspec.yaml
Due: dart

add file exclusion ability
  Rakefile
  php/config.yaml
  php/laravel/config.yaml
  php/lumen/config.yaml
Due: php, laravel, lumen

add cli to for lumen
  Rakefile
  php/lumen/artisan
Due: php, lumen

fix files exlusion list
  php/config.yaml
  php/laravel/config.yaml
Due: php, laravel

Update dependency falcon to v3
  python/falcon/requirements.txt
Due: python

update version in results
  python/falcon/config.yaml
  python/falcon/requirements.txt
Due: python

[scala/finatra]: minor. version bump.
  scala/finatra/build.sbt
Due: scala

Update dependency django to >=3.1,<3.3
  python/django/requirements.txt
Due: python

update version in results
  python/django/config.yaml
  python/django/requirements.txt
Due: python

[scala/finatra]: minor. version bump. config.yaml updated.
  scala/finatra/config.yaml
Due: scala

Update dependency olical:depot to v2.2.0
  clojure/coast/deps.edn
  clojure/yada/deps.edn
Due: clojure

Update dependency laravel/framework to ~8.36.0
  php/laravel/composer.json
Due: php, laravel

update version in results
  php/laravel/config.yaml
Due: php, laravel

Update elixir Docker tag to v1.12
  elixir/Dockerfile
Due: elixir

Update dependency luminus:lein-template to v3.99
  clojure/luminus/project.clj
Due: clojure

Update dependency luminus:lein-template to v4
  clojure/luminus/project.clj
Due: clojure

update version in results
  clojure/luminus/config.yaml
Due: clojure

update version in results
  elixir/config.yaml
Due: elixir

Update scala/finatra/build.sbt
  scala/finatra/build.sbt
Due: scala

[Kotlin] Update ktor to 1.5 (#4142)
  kotlin/ktor/build.gradle
  kotlin/ktor/config.yaml
Due: kotlin

upgrade to 1.0
  crystal/Dockerfile
  crystal/config.yaml
Due: crystal

remove version workaround
  crystal/Dockerfile
Due: crystal

add yaml static on container
  crystal/Dockerfile
Due: crystal

[Crystal] Update spider-gazelle to v4.3 (#4132)
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Due: crystal

add reviewer fron router.cr [skip ci]
  reviewers.yaml
Due: none

update runcobo to 2.0 which support crystal 1.0
  crystal/runcobo/config.yaml
  crystal/runcobo/shard.yml
Due: crystal

create orion source directory
  crystal/orion/shard.yml
  crystal/orion/src/server.cr
Due: crystal

[Crystal] Update kemal to v1 (#4099)
  crystal/kemal/config.yaml
  crystal/kemal/shard.yml
Due: crystal

ignore crystal version
  crystal/Dockerfile
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

remove --production flag on shards
  crystal/Dockerfile
Due: crystal

specify crystal version in shard.yml
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

Update dependency vapor/vapor to from: "4.41.11"
  swift/vapor-framework/Package.swift
Due: swift

Update dependency hummingbird-project/hummingbird to from: "0.9.0"
  swift/hummingbird-framework/Package.swift
Due: swift

update version in results
  swift/hummingbird-framework/config.yaml
Due: swift

[scala/finatra]: artifact renamed
  scala/finatra/build.sbt
Due: scala

[Scala] Update finatra to 21.3 (#4146)
  scala/finatra/build.sbt
  scala/finatra/config.yaml
Due: scala

Update dependency io.quarkus:quarkus-maven-plugin to v1.13.1.Final
  java/quarkus/pom.xml
Due: java

Update dependency vapor/vapor to from: "4.43.0"
  swift/vapor-framework/Package.swift
Due: swift
