Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: c, clojure, cpp, crystal, csharp, dart, elixir, fsharp, go, haskell, java, javascript, julia, kotlin, nim, perl, php, antidot, chubbyphp, hyperf, laravel, lumen, sunrise-router-annotations, yii-swoole, pony, python, r, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro, rust, scala, swift

c:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

clojure:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

cpp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

crystal:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

csharp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

dart:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

elixir:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

fsharp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

go:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

[R] Update httpuv to 1.6 (#4210)
  r/httpuv/DESCRIPTION
  r/httpuv/config.yaml
Due: r

[Javascript] Add tinyhttp (#4211)
  javascript/tinyhttp/app.js
  javascript/tinyhttp/config.yaml
  javascript/tinyhttp/package.json
Due: javascript

[PHP] Upgrade containers to 8.0 (#3606)
  php/one-fpm/composer.json
Due: php

update ice to 1.7
  php/ice/config.yaml
Due: php

no need to force php version check
  php/sw-fw-less/composer.json
Due: php

remove restriction
  php/ubiquity/composer.json
Due: php

Update config.yaml
  php/nano/config.yaml
Due: php

namespace change
  php/nano/index.php
Due: php

bump nano version for php8 compatibility
  php/nano/composer.json
  php/nano/config.yaml
Due: php

add reviewer for sunrise
  reviewers.yaml
Due: none

[PHP] Update sunrise Router to 2.5 (#3654)
  scala/http4s/project/plugins.sbt
Due: scala

use php8 annotations for ubiquity
  php/ubiquity/composer.json
Due: php

do not use patch level in docker tags
  php/Dockerfile
Due: php

update version in results
  php/config.yaml
Due: php

no need to setup json module on php8 -> https://wiki.php.net/rfc/always_enable_json
  php/codeigniter4/config.yaml
Due: php

[PHP] Update ice to 1.8 (#3982)
  php/ice/config.yaml
Due: php

use pecl for php8
  php/Dockerfile
Due: php

use pecl version for ice
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php

update ice version
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php

remove temporary composer constraint for ice
  php/ice/composer.json
Due: php

fix composer for one fpm
  php/one-fpm/composer.json
Due: php

use new pecl packages
  php/Dockerfile
Due: php

Update dependency hummingbird-project/hummingbird to from: "0.11.0"
  swift/hummingbird-framework/Package.swift
Due: swift

update version in results
  swift/hummingbird-framework/config.yaml
Due: swift

fix bc
  swift/hummingbird-framework/Sources/server/main.swift
Due: swift

Add -enforce-exclusivity=unchecked to swift build
  swift/Dockerfile
Due: swift

Add .gitignore for all swift projects
  swift/.gitignore
Due: swift

Swift/Hummingbird - HTTP Pipelining Optimization
  swift/hummingbird-framework/Sources/server/main.swift
Due: swift

Update dependency ring:ring-core to v1.9.3
  clojure/luminus/project.clj
Due: clojure

Update dependency ring:ring-devel to v1.9.3
  clojure/luminus/project.clj
Due: clojure

Update dependency @tinyhttp/app to ~1.3.0
  javascript/tinyhttp/package.json
Due: javascript

Update dependency laravel/framework to ~8.39.0
  php/laravel/composer.json
Due: php, laravel

update version in results
  php/laravel/config.yaml
Due: php, laravel

[Swift] Hummingbird - HTTP Pipelining Optimization (#4214)
  swift/hummingbird-framework/Sources/server/main.swift
Due: swift

[Swift] Disable runtime exclusivity checks (#4213)
  swift/.gitignore
  swift/Dockerfile
Due: swift

update results
  README.md
  data.json
  data.min.json
Due: none

Update results - 27 of April 2021 (#4219)
  README.md
  data.json
  data.min.json
Due: none

add yaml static on container
  crystal/Dockerfile
Due: crystal

specify crystal version in shard.yml
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

Path conditions:
  c: any of: c/
  clojure: any of: clojure/
  cpp: any of: cpp/
  crystal: any of: crystal/
  csharp: any of: csharp/
  dart: any of: dart/
  elixir: any of: elixir/
  fsharp: any of: fsharp/
  go: any of: go/
  haskell: any of: haskell/
  java: any of: java/
  javascript: any of: javascript/
  julia: any of: julia/
  kotlin: any of: kotlin/
  nim: any of: nim/
  perl: any of: perl/
  php: any of: php/
  antidot: any of: php/antidot
  chubbyphp: any of: php/chubbyphp
  hyperf: any of: php/hyperf
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  yii-swoole: any of: php/yii-swoole
  pony: any of: pony/
  python: any of: python/
  r: any of: r/
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro
  rust: any of: rust/
  scala: any of: scala/
  swift: any of: swift/
