Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro

Path conditions:
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro

wrong rake tasks on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

update ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

fix config parsing
  .semaphore/semaphore.yml
  Rakefile
Due: none

update ci config
  .semaphore/semaphore.yml
Due: none

fix files exlusion list
  php/config.yaml
Due: none

no need to set ruby version, use default on ci
  .tasks/ci.rake
Due: none

use ruby 3 on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

add all available variants on CI
  .gitignore
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/support.rb
  php/hyperf/config.yaml
Due: none

add cli to for lumen
  Rakefile
  php/lumen/artisan
Due: none

fix ruby dockerfile
  ruby/Dockerfile
Due: ruby

use absolute paths
  .gitignore
  php/antidot/config.yaml
Due: none

specify ruby version
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

remove ruby version file
  .ruby-version
Due: none

fix laravel-s
  .tasks/collect.rake
  .tasks/db.rake
  php/laravel/config/laravels.php
  php/lumen/config.yaml
  php/lumen/config/laravels.php
Due: none

fix ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

add clean command
  .gitignore
  .ruby-version
  .talismanrc
  Rakefile
  c/.gitignore
  clojure/.gitignore
  crystal/.gitignore
  dart/.gitignore
  haskell/.gitignore
  javascript/.gitignore
  kotlin/.gitignore
  php/laravel/.swoole/composer.json
  php/laravel/.workerman/composer.json
  php/laravel/bin/laravels
  python/.gitignore
  swift/.gitignore
Due: none

fix specs
  .spec/spec_helper.rb
Due: none

update results
  .tasks/db.rake
  data.json
  data.min.json
Due: none

use makefile to clean v1 temp files
  Makefile
Due: none

add antidot on react
  .semaphore/semaphore.yml
  .tasks/ci.rake
  php/antidot/config.yaml
Due: none

Multiple engines, for javascript (#4274)
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
  javascript/0http/.uwebsockets/app.js
  javascript/0http/.uwebsockets/package.json
  javascript/0http/config.yaml
  javascript/Dockerfile
  javascript/config.yaml
  javascript/fyrejet-uwebsockets/config.yaml
  javascript/fyrejet/.uwebsockets/app.json
  javascript/fyrejet/.uwebsockets/package.json
  javascript/fyrejet/config.yaml
  javascript/low-http-server/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/naturaljs-router/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  javascript/polka/.turbo-net/app.js
  javascript/polka/.turbo-net/package.json
  javascript/sails/config.yaml
  javascript/sifrr/config.yaml
  javascript/turbo_polka/config.yaml
Due: none

Update dependency clastic to v21
  python/clastic/requirements.txt
Due: none

update version
  python/clastic/config.yaml
  python/clastic/requirements.txt
Due: none

first try
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
  php/Dockerfile
  php/chubbyphp/.road-runner/composer.json
  php/chubbyphp/.rr.yaml
  php/chubbyphp/.swoole/composer.json
  php/chubbyphp/.workerman/composer.json
  php/chubbyphp/composer.json
  php/chubbyphp/config.yaml
  php/config.yaml
  php/laravel/.swoole/composer.json
  php/laravel/bin/laravels
  php/laravel/composer.json
  php/laravel/config.yaml
  php/laravel/config/laravels.php
Due: none

add iodine
  Rakefile
  ruby/config.yaml
Due: ruby

enable semaphore
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Rakefile
  config.yaml
Due: none

test only rails
  Rakefile
Due: none

missing gemfiles
  ruby/grape/.falcon/Gemfile
  ruby/grape/.iodine/Gemfile
  ruby/sinatra/.falcon/Gemfile
  ruby/sinatra/.iodine/Gemfile
Due: ruby, grape, sinatra

create configuration for all ruby frameworks
  Rakefile
Due: none

introduce variants
  .tasks/collect.rake
  Rakefile
  ruby/Dockerfile
  ruby/config.yaml
Due: ruby

fix specs
  .tasks/db.rake
  pony/config.yaml
Due: none

add sinatra in ruby block
  ruby/rails/.falcon/Gemfile
  ruby/rails/.iodine/Gemfile
Due: ruby, rails

display mutliple variants on README
  .spec/route_spec.rb
  .spec/spec_helper.rb
  .tasks/ci.rake
  .tasks/collect.rake
  .tasks/db.rake
  .tasks/support.rb
  Makefile
  dump.sql
  ruby/agoo/app.rb
Due: ruby, agoo

use default engine, if provided
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

add gemfile for iodine/falcon for all ruby frameworks (except agoo)
  ruby/camping/.falcon/Gemfile
  ruby/camping/.iodine/Gemfile
  ruby/cuba/.falcon/Gemfile
  ruby/cuba/.iodine/Gemfile
  ruby/hanami-api/.falcon/Gemfile
  ruby/hanami-api/.iodine/Gemfile
  ruby/rack-routing/.falcon/Gemfile
  ruby/rack-routing/.iodine/Gemfile
  ruby/rack_app/.falcon/Gemfile
  ruby/rack_app/.iodine/Gemfile
  ruby/roda/.falcon/Gemfile
  ruby/roda/.iodine/Gemfile
  ruby/syro/.falcon/Gemfile
  ruby/syro/.iodine/Gemfile
Due: ruby, camping, cuba, hanami-api, rack-routing, rack_app, roda, syro
