Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: c, clojure, cpp, crystal, csharp, dart, elixir, fsharp, go, haskell, java, javascript, julia, kotlin, nim, perl, php, antidot, chubbyphp, hyperf, laravel, lumen, sunrise-router-annotations, yii-swoole, pony, python, r, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro, rust, scala, swift

c:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

clojure:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

cpp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

crystal:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

csharp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

dart:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

elixir:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

fsharp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

go:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

update version in results
  swift/vapor-framework/config.yaml
Due: swift

Update module github.com/labstack/echo/v4 to v4.2.2
  go/echo/go.mod
Due: go

Add manually 8 workers
  php/driftphp/config.yaml
Due: php

remove --production flag on shards
  crystal/Dockerfile
Due: crystal

ignore crystal version
  crystal/Dockerfile
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

add reviewer fron router.cr [skip ci]
  reviewers.yaml
Due: none

specify crystal version in shard.yml
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

update runcobo to 2.0 which support crystal 1.0
  crystal/runcobo/config.yaml
  crystal/runcobo/shard.yml
Due: crystal

[Crystal] Update spider-gazelle to v4.3 (#4132)
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Due: crystal

remove version workaround
  crystal/Dockerfile
Due: crystal

upgrade to 1.0
  crystal/Dockerfile
  crystal/config.yaml
Due: crystal

[Crystal] Update kemal to v1 (#4099)
  crystal/kemal/config.yaml
  crystal/kemal/shard.yml
Due: crystal

create orion source directory
  crystal/orion/shard.yml
  crystal/orion/src/server.cr
Due: crystal

add yaml static on container
  crystal/Dockerfile
Due: crystal

Update module github.com/gin-gonic/gin to v1.7.0
  go/gin/go.mod
Due: go

update version in results
  go/gin/config.yaml
Due: go

Update quarkus.platform.version to v1.13.1.Final
  java/quarkus/pom.xml
Due: java

Update dependency vapor/vapor to from: "4.43.2"
  swift/vapor-framework/Package.swift
Due: swift

Add manually 8 workers
  php/driftphp/composer.json
  php/driftphp/config.yaml
Due: php

Update module github.com/gin-gonic/gin to v1.7.1
  go/gin/go.mod
Due: go

update
  cpp/drogon/config.yaml
Due: cpp

update to v1.5.1
  cpp/drogon/config.yaml
Due: cpp

[C++] Update drogon to 1.5 (#4163)
  cpp/drogon/config.yaml
Due: cpp

export as json
  .tasks/db.rake
Due: none

update version in results
  fsharp/saturn/config.yaml
  fsharp/saturn/web.fsproj
Due: fsharp

update
  r/rserve/DESCRIPTION
  r/rserve/config.yaml
Due: r

update
  haskell/servant/config.yaml
  haskell/servant/server.cabal
Due: haskell

update
  r/restrserve/DESCRIPTION
  r/restrserve/config.yaml
Due: r

add reviewer
  reviewers.yaml
Due: none

Using new ReactPHP Persistent connections
  php/driftphp/composer.json
  php/driftphp/config.yaml
Due: php

Update dependency vapor/vapor to from: "4.44.0"
  swift/vapor-framework/Package.swift
Due: swift

Update dependency vapor/vapor to from: "4.44.1"
  swift/vapor-framework/Package.swift
Due: swift

[R] Update RestRserve to 0.4 (#4169)
  r/restrserve/DESCRIPTION
  r/restrserve/config.yaml
  reviewers.yaml
Due: r

[Haskell] Update servant to 0.18 (#4168)
  haskell/servant/config.yaml
  haskell/servant/server.cabal
Due: haskell

Update dependency com.fasterxml.jackson.core:jackson-core to v2.12.3
  clojure/luminus/project.clj
Due: clojure

Update dependency roda to ~> 3.43.0
  ruby/roda/Gemfile
Due: ruby, roda

update version in results
  ruby/roda/config.yaml
Due: ruby, roda

Update dependency laravel/framework to ~8.37.0
  php/laravel/composer.json
Due: php, laravel

Path conditions:
  c: any of: c/
  clojure: any of: clojure/
  cpp: any of: cpp/
  crystal: any of: crystal/
  csharp: any of: csharp/
  dart: any of: dart/
  elixir: any of: elixir/
  fsharp: any of: fsharp/
  go: any of: go/
  haskell: any of: haskell/
  java: any of: java/
  javascript: any of: javascript/
  julia: any of: julia/
  kotlin: any of: kotlin/
  nim: any of: nim/
  perl: any of: perl/
  php: any of: php/
  antidot: any of: php/antidot
  chubbyphp: any of: php/chubbyphp
  hyperf: any of: php/hyperf
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  yii-swoole: any of: php/yii-swoole
  pony: any of: pony/
  python: any of: python/
  r: any of: r/
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro
  rust: any of: rust/
  scala: any of: scala/
  swift: any of: swift/
