Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, laravel-s-laravel, laravel-s-lumen, lumen, mark, mezzio, nano, nette, one, phalcon, siler, siler-swoole, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii

php:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
    - psql -U postgres -h 0.0.0.0 -d benchmark < dump.sql
  ...

antidot:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: antidot
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

basicphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: basicphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

bearframework:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: bearframework
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

chubbyphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: chubbyphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

codeigniter4:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: codeigniter4
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

comet:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: comet
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

cubex:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: cubex
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

driftphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: driftphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

add gemfile for iodine/falcon for all ruby frameworks (except agoo)
  ruby/camping/.falcon/Gemfile
  ruby/camping/.iodine/Gemfile
  ruby/cuba/.falcon/Gemfile
  ruby/cuba/.iodine/Gemfile
  ruby/hanami-api/.falcon/Gemfile
  ruby/hanami-api/.iodine/Gemfile
  ruby/rack-routing/.falcon/Gemfile
  ruby/rack-routing/.iodine/Gemfile
  ruby/rack_app/.falcon/Gemfile
  ruby/rack_app/.iodine/Gemfile
  ruby/roda/.falcon/Gemfile
  ruby/roda/.iodine/Gemfile
  ruby/syro/.falcon/Gemfile
  ruby/syro/.iodine/Gemfile
Due: none

create configuration for all ruby frameworks
  Rakefile
Due: none

add sinatra in ruby block
  ruby/rails/.falcon/Gemfile
  ruby/rails/.iodine/Gemfile
Due: none

use workdir to run all operations (avoid cd)
  Rakefile
  config.yaml
Due: none

missing gemfiles
  ruby/grape/.falcon/Gemfile
  ruby/grape/.iodine/Gemfile
  ruby/sinatra/.falcon/Gemfile
  ruby/sinatra/.iodine/Gemfile
Due: none

add run-all wrapper
  Rakefile
  config.yaml
Due: none

display mutliple variants on README
  .spec/route_spec.rb
  .spec/spec_helper.rb
  .tasks/ci.rake
  .tasks/collect.rake
  .tasks/db.rake
  .tasks/support.rb
  Makefile
  dump.sql
  ruby/agoo/app.rb
Due: none

auto-generate ci config
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/db.rake
  Rakefile
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
  ruby/rails/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: none

add antidot on react
  .semaphore/semaphore.yml
  .tasks/ci.rake
  php/antidot/config.yaml
Due: php, antidot

no need to set ruby version, use default on ci
  .tasks/ci.rake
Due: none

remove ruby version file
  .ruby-version
Due: none

use absolute paths
  .gitignore
  php/antidot/config.yaml
Due: php, antidot

missing routes file for rack-routing
  ruby/rack-routing/config.yaml
Due: none

update ci
  .semaphore/semaphore.yml
Due: none

fix laravel-s
  .tasks/collect.rake
  .tasks/db.rake
  php/laravel/config/laravels.php
  php/lumen/config.yaml
  php/lumen/config/laravels.php
Due: php, laravel, lumen

fix ruby dockerfile
  ruby/Dockerfile
Due: none

add clean command
  .gitignore
  .ruby-version
  .talismanrc
  Rakefile
  c/.gitignore
  clojure/.gitignore
  crystal/.gitignore
  dart/.gitignore
  haskell/.gitignore
  javascript/.gitignore
  kotlin/.gitignore
  php/laravel/.swoole/composer.json
  php/laravel/.workerman/composer.json
  php/laravel/bin/laravels
  python/.gitignore
  swift/.gitignore
Due: php, laravel

use default engine, if provided
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

use ruby 3 on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

update ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

fix config parsing
  .semaphore/semaphore.yml
  Rakefile
Due: none

specify ruby version
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

fix laravel
  .tasks/ci.rake
  Rakefile
Due: none

add all available variants on CI
  .gitignore
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/support.rb
  php/hyperf/config.yaml
Due: php, hyperf

decrease config size
  .tasks/db.rake
  dump.sql
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
  ruby/rails/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: none

insert variant on collect step
  .tasks/collect.rake
Due: none

fix ruby version to 3.0
  .ruby-version
Due: none

fix files exlusion list
  php/config.yaml
Due: php

update crystal gitignore file
  crystal/.gitignore
Due: none

update ci config
  .semaphore/semaphore.yml
Due: none

add file exclusion ability
  Rakefile
  php/config.yaml
  php/lumen/config.yaml
Due: php, lumen

fix specs
  .spec/spec_helper.rb
Due: none

update results
  .tasks/db.rake
  data.json
  data.min.json
Due: none

fix ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

add cli to for lumen
  Rakefile
  php/lumen/artisan
Due: php, lumen

use makefile to clean v1 temp files
  Makefile
Due: none

wrong rake tasks on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

Path conditions:
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  laravel-s-laravel: any of: php/laravel-s-laravel
  laravel-s-lumen: any of: php/laravel-s-lumen
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  siler-swoole: any of: php/siler-swoole
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii
