Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, laravel-s-laravel, laravel-s-lumen, lumen, mark, mezzio, nano, nette, one, phalcon, siler, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii

php:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
    - psql -U postgres -h 0.0.0.0 -d benchmark < dump.sql
  ...

antidot:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: antidot
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

basicphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: basicphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

bearframework:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: bearframework
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

chubbyphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: chubbyphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

codeigniter4:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: codeigniter4
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

comet:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: comet
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

cubex:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: cubex
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

driftphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: driftphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

update version
  ruby/roda/config.yaml
Due: none

switch engine for imi : php-fpm -> swoole
  php/imi/config.yaml
Due: php, imi

merge laravel / lumen and laravel s
  .semaphore/semaphore.yml
  php/imi/config.yaml
  php/laravel-s-laravel/app/Console/Kernel.php
  php/laravel-s-laravel/app/Exceptions/Handler.php
  php/laravel-s-laravel/app/Http/Controllers/ApplicationController.php
  php/laravel-s-laravel/app/Http/Controllers/Controller.php
  php/laravel-s-laravel/app/Http/Controllers/UserController.php
  php/laravel-s-laravel/app/Http/Kernel.php
  php/laravel-s-laravel/app/Providers/RouteServiceProvider.php
  php/laravel-s-laravel/bootstrap/app.php
  php/laravel-s-laravel/config.yaml
  php/laravel-s-laravel/config/app.php
  php/laravel-s-laravel/config/view.php
  php/laravel-s-laravel/routes/console.php
  php/laravel-s-laravel/routes/web.php
  php/laravel-s-lumen/app/Console/Kernel.php
  php/laravel-s-lumen/app/Exceptions/Handler.php
  php/laravel-s-lumen/app/Http/Controllers/ApplicationController.php
  php/laravel-s-lumen/app/Http/Controllers/Controller.php
  php/laravel-s-lumen/app/Http/Controllers/UserController.php
  php/laravel-s-lumen/bootstrap/app.php
  php/laravel-s-lumen/config.yaml
  php/laravel-s-lumen/routes/web.php
  php/laravel/.swoole/composer.json
  php/laravel/.swoole/config/laravels.php
  php/laravel/config.yaml
  php/lumen/.swoole/artisan
  php/lumen/.swoole/bin/laravels
  php/lumen/.swoole/composer.json
  php/lumen/.swoole/config/laravels.php
  php/lumen/config.yaml
Due: php, imi, laravel, laravel-s-laravel, laravel-s-lumen, lumen

Update dependency gotzmann/comet to ~1.9.0
  php/comet/composer.json
Due: php, comet

Update dependency jonase:eastwood to v0.5.0
  clojure/luminus/project.clj
Due: none

update version
  php/comet/config.yaml
Due: php, comet

Update dependency gotzmann/comet to v2
  php/comet/composer.json
Due: php, comet

Update dependency laravel/framework to ~8.47.0
  php/laravel/composer.json
Due: php, laravel

nginx_conf should be at framework level
  php/ice/config.yaml
  php/phalcon/config.yaml
Due: php, ice, phalcon

update laminas config
  php/laminas/config.yaml
Due: php, laminas

change bin/laravels into swoole subdir
  php/laravel/.swoole/bin/laravels
Due: php, laravel

add boostrap command for lumen with swoole
  php/lumen/config.yaml
Due: php, lumen

fix lumen with swoole
  php/lumen/.swoole/artisan
  php/lumen/.swoole/bootstrap/app.php
  php/lumen/app/Console/Kernel.php
  php/lumen/app/Exceptions/Handler.php
Due: php, lumen

update results
  data.json
  data.min.json
Due: none

restore phalcon config
  php/phalcon/composer.json
Due: php, phalcon

update ci config
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

fix outdated rake config
  Rakefile
Due: none

Update dependency fastify to ~3.18.0
  javascript/fastify/package.json
Due: none

update version in result
  javascript/fastify/config.yaml
Due: none

codeigniter4 framework files update
  php/codeigniter4/app/Config/App.php
  php/codeigniter4/app/Config/Autoload.php
  php/codeigniter4/app/Config/Boot/development.php
  php/codeigniter4/app/Config/Boot/production.php
  php/codeigniter4/app/Config/Boot/testing.php
  php/codeigniter4/app/Config/Cache.php
  php/codeigniter4/app/Config/Constants.php
  php/codeigniter4/app/Config/ContentSecurityPolicy.php
  php/codeigniter4/app/Config/Cookie.php
  php/codeigniter4/app/Config/Database.php
  php/codeigniter4/app/Config/DocTypes.php
  php/codeigniter4/app/Config/Email.php
  php/codeigniter4/app/Config/Encryption.php
  php/codeigniter4/app/Config/Events.php
  php/codeigniter4/app/Config/Exceptions.php
  php/codeigniter4/app/Config/Filters.php
  php/codeigniter4/app/Config/ForeignCharacters.php
  php/codeigniter4/app/Config/Format.php
  php/codeigniter4/app/Config/Generators.php
  php/codeigniter4/app/Config/Honeypot.php
  php/codeigniter4/app/Config/Images.php
  php/codeigniter4/app/Config/Kint.php
  php/codeigniter4/app/Config/Logger.php
  php/codeigniter4/app/Config/Migrations.php
  php/codeigniter4/app/Config/Mimes.php
  php/codeigniter4/app/Config/Modules.php
  php/codeigniter4/app/Config/Pager.php
  php/codeigniter4/app/Config/Paths.php
  php/codeigniter4/app/Config/Routes.php
  php/codeigniter4/app/Config/Security.php
  php/codeigniter4/app/Config/Services.php
  php/codeigniter4/app/Config/Toolbar.php
  php/codeigniter4/app/Config/UserAgents.php
  php/codeigniter4/app/Config/Validation.php
  php/codeigniter4/app/Config/View.php
  php/codeigniter4/app/Controllers/BaseController.php
  php/codeigniter4/app/Controllers/Home.php
  php/codeigniter4/public/index.php
Due: php, codeigniter4

Update module github.com/gofiber/fiber/v2 to v2.13.0
  go/fiber/go.mod
Due: none

update ci
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
Due: none

Beego v2
  go/beego/config.yaml
  go/beego/go.mod
  go/beego/main.go
Due: none

CodeIgniter4 - temp fix for is_cli()
  php/codeigniter4/app/Common.php
Due: php, codeigniter4

CodeIgniter4 - skip already installed extensions
  php/codeigniter4/config.yaml
Due: php, codeigniter4

fix ci for update PR
  .semaphore/semaphore.yml
  .tasks/ci.rake
  clojure/luminus/config.yaml
  php/slim/config.yaml
Due: php, slim

Update rust Docker tag to v1.53
  rust/Dockerfile
Due: none

Update dependency jonase:eastwood to v0.5.1
  clojure/luminus/project.clj
Due: none

update version in results
  rust/config.yaml
Due: none

Remove go version line
  go/beego/go.mod
Due: none

remove trailing blank line
  go/beego/go.mod
Due: none

[Go] Update beego to v2.0 (#4409)
  go/beego/config.yaml
  go/beego/go.mod
  go/beego/main.go
Due: none

[PHP] Fix codeIgniter4 (#4406)
  php/codeigniter4/app/Common.php
  php/codeigniter4/app/Config/App.php
  php/codeigniter4/app/Config/Autoload.php
  php/codeigniter4/app/Config/Boot/development.php
  php/codeigniter4/app/Config/Boot/production.php
  php/codeigniter4/app/Config/Boot/testing.php
  php/codeigniter4/app/Config/Cache.php
  php/codeigniter4/app/Config/Constants.php
  php/codeigniter4/app/Config/ContentSecurityPolicy.php
  php/codeigniter4/app/Config/Cookie.php
  php/codeigniter4/app/Config/Database.php
  php/codeigniter4/app/Config/DocTypes.php
  php/codeigniter4/app/Config/Email.php
  php/codeigniter4/app/Config/Encryption.php
  php/codeigniter4/app/Config/Events.php
  php/codeigniter4/app/Config/Exceptions.php
  php/codeigniter4/app/Config/Filters.php
  php/codeigniter4/app/Config/ForeignCharacters.php
  php/codeigniter4/app/Config/Format.php
  php/codeigniter4/app/Config/Generators.php
  php/codeigniter4/app/Config/Honeypot.php
  php/codeigniter4/app/Config/Images.php
  php/codeigniter4/app/Config/Kint.php
  php/codeigniter4/app/Config/Logger.php
  php/codeigniter4/app/Config/Migrations.php
  php/codeigniter4/app/Config/Mimes.php
  php/codeigniter4/app/Config/Modules.php
  php/codeigniter4/app/Config/Pager.php
  php/codeigniter4/app/Config/Paths.php
  php/codeigniter4/app/Config/Routes.php
  php/codeigniter4/app/Config/Security.php
  php/codeigniter4/app/Config/Services.php
  php/codeigniter4/app/Config/Toolbar.php
  php/codeigniter4/app/Config/UserAgents.php
  php/codeigniter4/app/Config/Validation.php
  php/codeigniter4/app/Config/View.php
  php/codeigniter4/app/Controllers/BaseController.php
  php/codeigniter4/app/Controllers/Home.php
  php/codeigniter4/config.yaml
  php/codeigniter4/public/index.php
Due: php, codeigniter4

update version in results
  php/laravel/config.yaml
Due: php, laravel

update
  cpp/drogon/config.yaml
Due: none

remove duplicated config
  javascript/config.yaml
  javascript/nanoexpress/config.yaml
Due: none

Path conditions:
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  laravel-s-laravel: any of: php/laravel-s-laravel
  laravel-s-lumen: any of: php/laravel-s-lumen
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii
