Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, laravel-s-laravel, laravel-s-lumen, lumen, mark, mezzio, nano, nette, one, phalcon, siler, siler-swoole, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii

Path conditions:
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  laravel-s-laravel: any of: php/laravel-s-laravel
  laravel-s-lumen: any of: php/laravel-s-lumen
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  siler-swoole: any of: php/siler-swoole
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii

update version in results
  javascript/fastify/config.yaml
Due: none

[Scala] Update finatra to 21.5 (#4354)
  scala/finatra/build.sbt
  scala/finatra/config.yaml
Due: none

[Java] Update restheart to v5.4 (#4352)
  java/restheart/config.yaml
  java/restheart/pom.xml
Due: none

ensure CI full-run if results are updated
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

update results
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  data.json
  data.min.json
Due: none

uopdate
  data.json
  data.min.json
Due: none

update ci config
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

ignore pipeline file for change_in evaluation on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

switch to debian for elixir
  elixir/Dockerfile
Due: none

[Scala] Fix BC in http4s (#4346)
  scala/http4s/src/main/scala/the/benchmarker/http4s/Main.scala
Due: none

update results
  data.json
  data.min.json
Due: none

use ubuntu 20.04
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

Result update (#4283)
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
  data.json
  data.min.json
  elixir/Dockerfile
  scala/http4s/src/main/scala/the/benchmarker/http4s/Main.scala
Due: none

typo
  php/Dockerfile
Due: php

fix version [skip ci]
  javascript/tinyhttp/config.yaml
Due: none

Update dependency org.webjars.npm:material-icons to v0.7.0
  clojure/luminus/project.clj
Due: none

fix yii using swoole
  php/yii/.swoole/composer.json
  php/yii/.swoole/public/index.php
Due: php, yii

add road runner config file for sunrise router
  php/sunrise-router/.road-runner/.rr.yaml
Due: php, sunrise-router

add apcu extensions for sunrise router with annotations
  php/sunrise-router-annotations/config.yaml
Due: php, sunrise-router-annotations

update ubiquity config to new format
  php/ubiquity/config.yaml
Due: php, ubiquity

adapt sw-fw-less config
  .semaphore/semaphore.yml
  php/sw-fw-less/config.yaml
Due: php, sw-fw-less

move spiral worker
  .semaphore/semaphore.yml
  php/phalcon/composer.json
  php/siler-swoole/config.yaml
  php/siler/.swoole/composer.json
  php/siler/.swoole/public/index.php
  php/siler/config.yaml
  php/spiral/config.yaml
  php/spiral/public/index.php
Due: php, phalcon, siler, siler-swoole, spiral

[Javascript] Fix version shown for tinyhttp (#4360)
  javascript/tinyhttp/config.yaml
Due: none

add nette
  php/nette/config.yaml
Due: php, nette

add mark
  .semaphore/semaphore.yml
  php/mark/config.yaml
  php/mark/public/index.php
Due: php, mark

Update dependency blacksheep to v1.0.6
  python/blacksheep/requirements.txt
Due: none

use kotlin 1.5
  kotlin/http4k/build.gradle
  kotlin/http4k/gradle.properties
  kotlin/ktor/gradle.properties
Due: none

update version
  kotlin/config.yaml
Due: none

[Kotlin] Upgrade to v1.5 (#4363)
  kotlin/config.yaml
  kotlin/http4k/build.gradle
  kotlin/http4k/gradle.properties
  kotlin/ktor/gradle.properties
Due: none

make sure we stick on kotlin 1.5
  kotlin/http4k/build.gradle
  kotlin/kooby/build.gradle
  kotlin/ktor/build.gradle
Due: none

update version
  kotlin/ktor/build.gradle
  kotlin/ktor/config.yaml
Due: none

align kotlin version
  kotlin/http4k/build.gradle
  kotlin/kooby/build.gradle
Due: none

standadize build.gradle
  kotlin/http4k/build.gradle
  kotlin/kooby/build.gradle
  kotlin/ktor/build.gradle
Due: none

typo
  kotlin/http4k/build.gradle
  kotlin/kooby/build.gradle
Due: none

[PHP] Update ice to 1.8 (#4356)
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php, ice

update version
  java/activej/config.yaml
Due: none

[Kotlin] Update ktor to 1.6 (#4351)
  kotlin/http4k/build.gradle
  kotlin/kooby/build.gradle
  kotlin/ktor/build.gradle
  kotlin/ktor/config.yaml
Due: none
