Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, laravel-s-laravel, laravel-s-lumen, lumen, mark, mezzio, nano, nette, one, phalcon, siler, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii

php:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
    - psql -U postgres -h 0.0.0.0 -d benchmark < dump.sql
  ...

antidot:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: antidot
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

basicphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: basicphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

bearframework:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: bearframework
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

chubbyphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: chubbyphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

codeigniter4:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: codeigniter4
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

comet:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: comet
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

cubex:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: cubex
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

driftphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: driftphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

Update dependency ring:ring-core to v1.9.4
  clojure/luminus/project.clj
Due: none

Update dependency ring:ring-devel to v1.9.4
  clojure/luminus/project.clj
Due: none

Update dependency jonase:eastwood to v0.9.0
  clojure/luminus/project.clj
Due: none

Update dependency jonase:eastwood to v0.9.1
  clojure/luminus/project.clj
Due: none

update results
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  data.json
  data.min.json
Due: none

[PHP] Update phalcon to v5.0 (#4478)
  Rakefile
  php/Dockerfile
  php/phalcon/composer.json
  php/phalcon/config.yaml
Due: php, phalcon

Update results on 18th of July 2021 (#4482)
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  data.json
  data.min.json
Due: none

Update dependency jonase:eastwood to v0.9.2
  clojure/luminus/project.clj
Due: none

Update dependency io.jooby:jooby-utow to [2.10,2.11)
  java/jooby/pom.xml
Due: none

update version in results
  java/jooby/config.yaml
Due: none

[Go] Add Buffalo
  go/buffalo/.buffalo.dev.yml
  go/buffalo/actions/app.go
  go/buffalo/actions/home.go
  go/buffalo/actions/render.go
  go/buffalo/config.yaml
  go/buffalo/config/buffalo-app.toml
  go/buffalo/config/buffalo-plugins.toml
  go/buffalo/go.mod
  go/buffalo/main.go
Due: none

Refacotre to use only 1 method for same output
  go/buffalo/actions/app.go
  go/buffalo/actions/home.go
Due: none

Update dependency ch.qos.logback:logback-classic to v1.2.4
  clojure/luminus/project.clj
  java/activej/pom.xml
Due: none

Update dependency starlette to >=0.15,<0.17
  python/starlette/requirements.txt
Due: none

update version in results
  python/starlette/config.yaml
  python/starlette/requirements.txt
Due: none

Fix missing ext-pcntl for hyperf
  php/hyperf/config.yaml
Due: php, hyperf

Update dependency jonase:eastwood to v0.9.3
  clojure/luminus/project.clj
Due: none

Update config.yaml
  php/hyperf/config.yaml
Due: php, hyperf

upgrade
  php/swoole-coroutine/composer.json
  php/swoole-coroutine/config.yaml
  php/swoole/composer.json
  php/swoole/config.yaml
Due: php, swoole, swoole-coroutine

[PHP] Fix missing pcntl for hyperf (#4490)
  php/hyperf/config.yaml
Due: php, hyperf

[PHP] Upgrade swoole to v4.7 (#4493)
  php/swoole-coroutine/composer.json
  php/swoole-coroutine/config.yaml
  php/swoole/composer.json
  php/swoole/config.yaml
Due: php, swoole, swoole-coroutine

wrong extension dirname
  php/Dockerfile
Due: php

Update dependency io.vertx:vertx-stack-depchain to v4.1.2
  java/vertx/pom.xml
  java/vertx4web/pom.xml
Due: none

Add threads:on flag to whip,jester and mike
  nim/jester/server.nim.cfg
  nim/mike/server.nim.cfg
  nim/whip/server.nim.cfg
Due: none

Disable logging on prologue
  nim/prologue/server.nim
Due: none

small fix
  nim/prologue/server.nim
Due: none

[Nim] Add threads:on on frameworks using httpbeast & httpx (#4495)
  nim/jester/server.nim.cfg
  nim/mike/server.nim.cfg
  nim/prologue/server.nim
  nim/whip/server.nim.cfg
Due: none

Update dependency laravel/framework to ~8.51.0
  php/laravel/composer.json
Due: php, laravel

Update dependency jonase:eastwood to v0.9.4
  clojure/luminus/project.clj
Due: none

Update dependency io.quarkus:quarkus-maven-plugin to v2.0.3.Final
  java/quarkus/pom.xml
Due: none

Update dependency fastapi to >=0.66,<0.68
  python/fastapi/requirements.txt
Due: none

update version in results
  python/fastapi/config.yaml
  python/fastapi/requirements.txt
Due: none

Update dependency plug to ~> 1.12.0
  elixir/plug/mix.exs
Due: none

Update module github.com/fasthttp/router to v1.4.1
  go/router/go.mod
Due: none

Update quarkus.platform.version
  java/quarkus/pom.xml
Due: none

Update dependency ch.qos.logback:logback-classic to v1.2.4-groovyless
  clojure/luminus/project.clj
  java/activej/pom.xml
Due: none

Update dependency baize to >=0.9,<0.11
  python/baize-asgi/requirements.txt
  python/baize-wsgi/requirements.txt
Due: none

update version in results
  python/baize-asgi/config.yaml
  python/baize-wsgi/config.yaml
Due: none

fix requirements
  python/baize-asgi/requirements.txt
  python/baize-wsgi/requirements.txt
Due: none

Path conditions:
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  laravel-s-laravel: any of: php/laravel-s-laravel
  laravel-s-lumen: any of: php/laravel-s-lumen
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii
