Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: c, clojure, cpp, crystal, csharp, dart, elixir, fsharp, go, haskell, java, javascript, julia, kotlin, nim, perl, php, antidot, chubbyphp, hyperf, laravel, lumen, sunrise-router-annotations, yii-swoole, pony, python, r, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro, rust, scala, swift

c:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

clojure:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

cpp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

crystal:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

csharp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

dart:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

elixir:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

fsharp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

go:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

remove version workaround
  crystal/Dockerfile
Due: crystal

update runcobo to 2.0 which support crystal 1.0
  crystal/runcobo/config.yaml
  crystal/runcobo/shard.yml
Due: crystal

create orion source directory
  crystal/orion/shard.yml
  crystal/orion/src/server.cr
Due: crystal

Update results as of 04 of may 2021 (#4242)
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/db.rake
  README.md
  README.mustache.md
  data.json
  data.min.json
Due: none

update version in results
  php/config.yaml
Due: php

do not use patch level in docker tags
  php/Dockerfile
Due: php

[PHP] Update sunrise Router to 2.5 (#3654)
  scala/http4s/project/plugins.sbt
Due: scala

[PHP] Upgrade containers to 8.0 (#3606)
  php/one-fpm/composer.json
Due: php

use php8 annotations for ubiquity
  php/ubiquity/composer.json
Due: php

add reviewer for sunrise
  reviewers.yaml
Due: none

update ice to 1.7
  php/ice/config.yaml
Due: php

remove restriction
  php/ubiquity/composer.json
Due: php

bump nano version for php8 compatibility
  php/nano/composer.json
  php/nano/config.yaml
Due: php

namespace change
  php/nano/index.php
Due: php

no need to force php version check
  php/sw-fw-less/composer.json
Due: php

use new pecl packages
  php/Dockerfile
Due: php

use pecl for php8
  php/Dockerfile
Due: php

Update config.yaml
  php/nano/config.yaml
Due: php

remove temporary composer constraint for ice
  php/ice/composer.json
Due: php

[PHP] Update ice to 1.8 (#3982)
  php/ice/config.yaml
Due: php

use pecl version for ice
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php

update ice version
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php

no need to setup json module on php8 -> https://wiki.php.net/rfc/always_enable_json
  php/codeigniter4/config.yaml
Due: php

fix composer for one fpm
  php/one-fpm/composer.json
Due: php

Add Cubex on workerman
  php/cubex-workerman/composer.json
  php/cubex-workerman/config.yaml
  php/cubex-workerman/public/index.php
  php/cubex-workerman/src/Application.php
Due: php

Add semaphore information Update reviewers
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  reviewers.yaml
Due: none

Update dependency vapor/vapor to from: "4.45.0"
  swift/vapor-framework/Package.swift
Due: swift

update version in results
  swift/vapor-framework/config.yaml
Due: swift

Update dependency nanoexpress to v3
  javascript/nanoexpress/package.json
Due: javascript

update version in result
  javascript/nanoexpress/config.yaml
Due: javascript

Update dependency jonase:eastwood to v0.4.2
  clojure/luminus/project.clj
Due: clojure

update shivneri
  crystal/shivneri/config.yaml
  crystal/shivneri/shard.yml
Due: crystal

update shivneri (#4252)
  crystal/shivneri/config.yaml
  crystal/shivneri/shard.yml
Due: crystal

Update module github.com/gofiber/fiber/v2 to v2.9.0
  go/fiber/go.mod
Due: go

update version in result
  go/fiber/config.yaml
Due: go

add reviewer fron router.cr [skip ci]
  reviewers.yaml
Due: none

specify crystal version in shard.yml
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

ignore crystal version
  crystal/Dockerfile
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

upgrade to 1.0
  crystal/Dockerfile
  crystal/config.yaml
Due: crystal

Path conditions:
  c: any of: c/
  clojure: any of: clojure/
  cpp: any of: cpp/
  crystal: any of: crystal/
  csharp: any of: csharp/
  dart: any of: dart/
  elixir: any of: elixir/
  fsharp: any of: fsharp/
  go: any of: go/
  haskell: any of: haskell/
  java: any of: java/
  javascript: any of: javascript/
  julia: any of: julia/
  kotlin: any of: kotlin/
  nim: any of: nim/
  perl: any of: perl/
  php: any of: php/
  antidot: any of: php/antidot
  chubbyphp: any of: php/chubbyphp
  hyperf: any of: php/hyperf
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  yii-swoole: any of: php/yii-swoole
  pony: any of: pony/
  python: any of: python/
  r: any of: r/
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro
  rust: any of: rust/
  scala: any of: scala/
  swift: any of: swift/
