Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, laravel-s-laravel, laravel-s-lumen, lumen, mark, mezzio, nano, nette, one, phalcon, siler, siler-swoole, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii

php:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
    - psql -U postgres -h 0.0.0.0 -d benchmark < dump.sql
  ...

antidot:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: antidot
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

basicphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: basicphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

bearframework:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: bearframework
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

chubbyphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: chubbyphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

codeigniter4:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: codeigniter4
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

comet:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: comet
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

cubex:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: cubex
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

driftphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: driftphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

fix ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

no need to set ruby version, use default on ci
  .tasks/ci.rake
Due: none

use absolute paths
  .gitignore
  php/antidot/config.yaml
Due: php, antidot

update ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

add cli to for lumen
  Rakefile
  php/lumen/artisan
Due: php, lumen

update results
  .tasks/db.rake
  data.json
  data.min.json
Due: none

missing files for driftphp
  php/driftphp/config.yaml
Due: php, driftphp

add hyperf
  php/hyperf/config.yaml
Due: php, hyperf

update ice to 1.8
  .semaphore/semaphore.yml
  php/Dockerfile
  php/hyperf/config.yaml
  php/ice/composer.json
  php/ice/config.yaml
Due: php, hyperf, ice

missing files on container for symfony
  php/symfony/config.yaml
Due: php, symfony

Delete config.php
  php/basicphp/config.php
Due: php, basicphp

Delete index.php
  php/basicphp/public/index.php
Due: php, basicphp

Rename app.php to index.php
  php/basicphp/index.php
Due: php, basicphp

v0.9.9
  php/basicphp/Basic.php
Due: php, basicphp

Update index.php
  php/basicphp/index.php
Due: php, basicphp

Update config.yaml
  php/basicphp/config.yaml
Due: php, basicphp

Use apiResponse( ) instead of echo
  php/basicphp/index.php
Due: php, basicphp

Update dependency slim/slim to ~4.8.0
  php/slim-roadrunner/composer.json
  php/slim-swoole/composer.json
  php/slim/composer.json
Due: php, slim

update version
  php/slim-roadrunner/config.yaml
  php/slim-swoole/config.yaml
  php/slim/config.yaml
Due: php, slim

Update server.cr
  crystal/grip/src/server.cr
Due: none

[Crystal] Optimize grip (#4317)
  crystal/grip/src/server.cr
Due: none

Update module github.com/valyala/fasthttp to v1.25.0
  go/fasthttp/go.mod
  go/gorouter-fasthttp/go.mod
Due: none

update version
  go/fasthttp/config.yaml
Due: none

ignore pipeline file for change_in evaluation on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

update results
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  data.json
  data.min.json
Due: none

update ci config
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

update results
  data.json
  data.min.json
Due: none

ensure CI full-run if results are updated
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

uopdate
  data.json
  data.min.json
Due: none

Update module github.com/fasthttp/router to v1.3.13
  go/router/go.mod
Due: none

Update module github.com/savsgio/atreugo/v11 to v11.7.1
  go/atreugo/go.mod
Due: none

Update dependency nanoexpress to v4
  javascript/nanoexpress/package.json
Due: none

Change empty( ) to ! isset( ) in segment( )
  php/basicphp/Basic.php
Due: php, basicphp

update version
  javascript/nanoexpress/config.yaml
Due: none

use slim variant
  python/Dockerfile
Due: none

typo
  python/Dockerfile
Due: none

install build tools
  python/Dockerfile
Due: none

Path conditions:
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  laravel-s-laravel: any of: php/laravel-s-laravel
  laravel-s-lumen: any of: php/laravel-s-lumen
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  siler-swoole: any of: php/siler-swoole
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii
