Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, laravel-s-laravel, laravel-s-lumen, lumen, mark, mezzio, nano, nette, one, phalcon, siler, siler-swoole, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii

Path conditions:
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  laravel-s-laravel: any of: php/laravel-s-laravel
  laravel-s-lumen: any of: php/laravel-s-lumen
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  siler-swoole: any of: php/siler-swoole
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii

Update jersey.version to [2.34,2.35)
  java/jersey-grizzly2/pom.xml
Due: none

update version in results
  java/jersey-grizzly2/config.yaml
Due: none

Update config.yaml to version level
  php/basicphp/config.yaml
Due: php, basicphp

Place index.php inside public folder
  php/basicphp/public/index.php
Due: php, basicphp

Update dependency vapor/vapor to from: "4.45.7"
  swift/vapor-framework/Package.swift
Due: none

Update dependency symfony/framework-bundle to ~5.3.0
  php/symfony/composer.json
Due: php, symfony

update version in results
  php/symfony/config.yaml
Due: php, symfony

[PHP] BasicPHP v0.9.9 (#4334)
  php/basicphp/Basic.php
  php/basicphp/app.php
  php/basicphp/config.php
  php/basicphp/public/index.php
Due: php, basicphp

add nim.scorper
  nim/scorper/config.yaml
  nim/scorper/server.nim
  nim/scorper/server.nimble
Due: none

Update nim/scorper/config.yaml
  nim/scorper/config.yaml
Due: none

Update nim/scorper/server.nim
  nim/scorper/server.nim
Due: none

Update nim/scorper/server.nimble
  nim/scorper/server.nimble
Due: none

add .semaphore
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
Due: none

Update hseeberger/scala-sbt Docker tag to v11.0.10_1.5.3_3.0.0
  scala/Dockerfile
Due: none

Update module github.com/valyala/fasthttp to v1.26.0
  go/fasthttp/go.mod
  go/gorouter-fasthttp/go.mod
Due: none

Update module github.com/fasthttp/router to v1.3.14
  go/router/go.mod
Due: none

Update module github.com/savsgio/atreugo/v11 to v11.7.2
  go/atreugo/go.mod
Due: none

remove threads:on flag, httpbeast use project cfg file turn on threads
  nim/Dockerfile
  nim/httpbeast/server.nim.cfg
Due: none

Update vertx.version to v4.1.0
  java/vertx/pom.xml
  java/vertx4web/pom.xml
Due: none

update version in results
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  java/vertx/config.yaml
  java/vertx4web/config.yaml
Due: none

update version in results
  go/fasthttp/config.yaml
Due: none

[Nim] Add scorper (#4368)
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  nim/Dockerfile
  nim/httpbeast/server.nim.cfg
  nim/scorper/config.yaml
  nim/scorper/server.nim
  nim/scorper/server.nimble
Due: none

Update module github.com/gofiber/fiber/v2 to v2.11.0
  go/fiber/go.mod
Due: none

update version
  go/fiber/config.yaml
Due: none

update version
  scala/config.yaml
Due: none

use scala 3.x to build
  scala/akkahttp/build.sbt
  scala/finatra/build.sbt
  scala/finch/build.sbt
  scala/http4s/build.sbt
  scala/play/build.sbt
Due: none

ignore pipeline file for change_in evaluation on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

update ci config
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

update results
  data.json
  data.min.json
Due: none

update with last fiber
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  data.json
  data.min.json
Due: none

Update on 3rd june 2021 (#4376)
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  data.json
  data.min.json
Due: none

Update module github.com/gogf/gf to v1.16.2
  go/gf/go.mod
Due: none

Update dependency laravel/framework to ~8.45.0
  php/laravel/composer.json
Due: php, laravel

Update dependency spiral/framework to ~2.8.0
  php/spiral/composer.json
Due: php, spiral

Update dependency org.webjars:webjars-locator to v0.41
  clojure/luminus/project.clj
Due: none

update
  php/spiral/composer.json
  php/spiral/config.yaml
Due: php, spiral

update version
  php/laravel/config.yaml
Due: php, laravel

Update module github.com/gofiber/fiber/v2 to v2.12.0
  go/fiber/go.mod
Due: none

Update dependency luminus:lein-template to v4.10
  clojure/luminus/project.clj
Due: none
