Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, laravel-s-laravel, laravel-s-lumen, lumen, mark, mezzio, nano, nette, one, phalcon, siler, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii

php:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
    - psql -U postgres -h 0.0.0.0 -d benchmark < dump.sql
  ...

antidot:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: antidot
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

basicphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: basicphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

bearframework:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: bearframework
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

chubbyphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: chubbyphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

codeigniter4:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: codeigniter4
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

comet:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: comet
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

cubex:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: cubex
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

driftphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: driftphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

Update dependency ch.qos.logback:logback-classic to v1.2.5
  clojure/luminus/project.clj
  java/activej/pom.xml
Due: none

update version
  fsharp/falco/web.fsproj
Due: none

update version in results
  fsharp/falco/config.yaml
Due: none

Update dependency sunrise/http-router to ~2.8.0
  php/sunrise-router-annotations/composer.json
  php/sunrise-router-roadrunner/composer.json
  php/sunrise-router/composer.json
Due: php, sunrise-router, sunrise-router-annotations

Update dependency metosin:reitit to v0.5.14
  clojure/luminus/project.clj
Due: none

[F#] Update falco to v3.1 (#4525)
  fsharp/falco/config.yaml
  fsharp/falco/web.fsproj
Due: none

Update dependency laravel/framework to ~8.53.0
  php/laravel/composer.json
Due: php, laravel

Update dependency vapor/vapor to from: "4.48.3"
  swift/vapor-framework/Package.swift
Due: none

Update module github.com/gogf/gf to v1.16.5
  go/gf/go.mod
Due: none

Update quarkus.platform.version
  java/quarkus/pom.xml
Due: none

Update quarkus.platform.version to v2.1.1.Final
  java/quarkus/pom.xml
Due: none

update version in results
  java/quarkus/config.yaml
Due: none

scala: sbt 1.5.5 & java 11.0.12
  scala/Dockerfile
Due: none

[Scala] Update sbt to 1.5.5 (#4531)
  scala/Dockerfile
Due: none

Update hseeberger/scala-sbt Docker tag to v11.0.12_1.5.5_3.0.1
  scala/Dockerfile
Due: none

Update dependency luminus:lein-template to v4.16
  clojure/luminus/project.clj
Due: none

Update dependency IBM-Swift/Kitura to from: "2.9.200"
  swift/kitura-nio/Package.swift
  swift/kitura/Package.swift
Due: none

update results
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  data.json
  data.min.json
Due: none

Update dependency metosin:reitit to v0.5.15
  clojure/luminus/project.clj
Due: none

update version in results
  clojure/luminus/config.yaml
Due: none

update hanlet to 3.3
  php/hamlet/composer.json
  php/hamlet/config.yaml
Due: php, hamlet

[PHP] Update hamlet to v3.3 (#4537)
  php/hamlet/composer.json
  php/hamlet/config.yaml
Due: php, hamlet

update hamlet / laravel-s results
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  data.json
  data.min.json
  php/laravel-s-laravel/bin/laravels
  php/laravel-s-lumen/bin/laravels
Due: php, laravel-s-laravel, laravel-s-lumen

Update module github.com/bnkamalesh/webgo/v5 to v5.3.1
  go/webgo/go.mod
Due: none

Update results, 05 of August 2021 (#4535)
  data.json
  data.min.json
  php/laravel-s-laravel/bin/laravels
  php/laravel-s-lumen/bin/laravels
Due: php, laravel-s-laravel, laravel-s-lumen

Update module github.com/savsgio/atreugo/v11 to v11.8.1
  go/atreugo/go.mod
Due: none

Update dependency mezzio/mezzio to ~3.6.0
  php/mezzio/composer.json
Due: php, mezzio

update version in results
  php/mezzio/config.yaml
Due: php, mezzio

update version in results
  php/laravel/config.yaml
Due: php, laravel

try debian
  php/Dockerfile
Due: php

Update module clevergo.tech/clevergo to v0.6.0
  go/clevergo/go.mod
Due: none

update version in results
  go/clevergo/config.yaml
Due: none

Update dependency klein to v21
  python/klein/requirements.txt
Due: none

update version in results
  python/klein/config.yaml
  python/klein/requirements.txt
Due: none

Update dependency laravel/framework to ~8.54.0
  php/laravel/composer.json
Due: php, laravel

Path conditions:
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  laravel-s-laravel: any of: php/laravel-s-laravel
  laravel-s-lumen: any of: php/laravel-s-lumen
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii
