Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: c, clojure, cpp, crystal, csharp, dart, elixir, fsharp, go, haskell, java, javascript, julia, kotlin, nim, perl, php, antidot, chubbyphp, hyperf, laravel, lumen, sunrise-router-annotations, yii-swoole, pony, python, r, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro, rust, scala, swift

c:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

clojure:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

cpp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

crystal:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

csharp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

dart:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

elixir:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

fsharp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

go:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

update runcobo to 2.0 which support crystal 1.0
  crystal/runcobo/config.yaml
  crystal/runcobo/shard.yml
Due: crystal

add yaml static on container
  crystal/Dockerfile
Due: crystal

create orion source directory
  crystal/orion/shard.yml
  crystal/orion/src/server.cr
Due: crystal

remove version workaround
  crystal/Dockerfile
Due: crystal

[Crystal] Update spider-gazelle to v4.3 (#4132)
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Due: crystal

remove --production flag on shards
  crystal/Dockerfile
Due: crystal

[Crystal] Update kemal to v1 (#4099)
  crystal/kemal/config.yaml
  crystal/kemal/shard.yml
Due: crystal

Update dependency vapor/vapor to from: "4.45.1"
  swift/vapor-framework/Package.swift
Due: swift

Update dependency luminus:lein-template to v4.05
  clojure/luminus/project.clj
Due: clojure

Update dependency luminus:lein-template to v4.06
  clojure/luminus/project.clj
Due: clojure

Update rust Docker tag to v1.52
  rust/Dockerfile
Due: rust

add beetlex web framework
  csharp/beetlex/web/Program.cs
  csharp/beetlex/web/web.csproj
  csharp/beetlex/web/web.sln
Due: csharp

add config.yaml
  csharp/beetlex/Program.cs
  csharp/beetlex/config.yaml
  csharp/beetlex/web.csproj
  csharp/beetlex/web.sln
Due: csharp

Remove subdirectories
  csharp/beetlex/web/Program.cs
  csharp/beetlex/web/web.csproj
  csharp/beetlex/web/web.sln
Due: csharp

update version in results
  clojure/luminus/config.yaml
Due: clojure

update version in results
  rust/config.yaml
Due: rust

disable all logs and change port
  csharp/beetlex/Program.cs
Due: csharp

Modifying package references
  csharp/beetlex/web.csproj
Due: csharp

Update dependency IBM-Swift/Kitura to from: "2.9.200"
  swift/kitura-nio/Package.swift
  swift/kitura/Package.swift
Due: swift

Update dependency PerfectlySoft/Perfect-HTTPServer to from: "3.0.23"
  swift/perfect/Package.swift
Due: swift

Update dependency fastapi to >=0.63,<0.65
  python/fastapi/requirements.txt
Due: python

Update dependency hummingbird-project/hummingbird to from: "0.11.1"
  swift/hummingbird-framework/Package.swift
Due: swift

update version in results
  python/fastapi/config.yaml
  python/fastapi/requirements.txt
Due: python

remove web.sln file
  csharp/beetlex/web.sln
Due: csharp

update config.yaml
  csharp/beetlex/config.yaml
Due: csharp

change website
  csharp/beetlex/config.yaml
Due: csharp

Update dependency vapor/vapor to from: "4.45.2"
  swift/vapor-framework/Package.swift
Due: swift

Update ponylang/ponyc Docker tag to v0.41.0
  pony/Dockerfile
Due: pony

Update Node.js to v16
  javascript/Dockerfile
Due: javascript

Update crystallang/crystal Docker tag to v1
  crystal/Dockerfile
Due: crystal

Update mcr.microsoft.com/dotnet/aspnet Docker tag to v6
  csharp/Dockerfile
  fsharp/Dockerfile
Due: csharp, fsharp

update version in results
  pony/config.yaml
Due: pony

Update mcr.microsoft.com/dotnet/sdk Docker tag to v6
  csharp/Dockerfile
  fsharp/Dockerfile
Due: csharp, fsharp

Update php Docker tag to v8
  php/Dockerfile
Due: php

change config.yaml
  csharp/beetlex/config.yaml
Due: csharp

[C#] Add beetleX (#4257)
  csharp/beetlex/Program.cs
  csharp/beetlex/config.yaml
  csharp/beetlex/web.csproj
Due: csharp

Update module github.com/labstack/echo/v4 to v4.3.0
  go/echo/go.mod
Due: go

update version in results
  go/echo/config.yaml
Due: go

introduce variants
  .tasks/collect.rake
  Rakefile
  ruby/Dockerfile
  ruby/config.yaml
Due: ruby

add iodine
  Rakefile
  ruby/config.yaml
Due: ruby

Path conditions:
  c: any of: c/
  clojure: any of: clojure/
  cpp: any of: cpp/
  crystal: any of: crystal/
  csharp: any of: csharp/
  dart: any of: dart/
  elixir: any of: elixir/
  fsharp: any of: fsharp/
  go: any of: go/
  haskell: any of: haskell/
  java: any of: java/
  javascript: any of: javascript/
  julia: any of: julia/
  kotlin: any of: kotlin/
  nim: any of: nim/
  perl: any of: perl/
  php: any of: php/
  antidot: any of: php/antidot
  chubbyphp: any of: php/chubbyphp
  hyperf: any of: php/hyperf
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  yii-swoole: any of: php/yii-swoole
  pony: any of: pony/
  python: any of: python/
  r: any of: r/
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro
  rust: any of: rust/
  scala: any of: scala/
  swift: any of: swift/
