Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: c, clojure, cpp, crystal, csharp, dart, elixir, fsharp, go, haskell, java, javascript, julia, kotlin, nim, perl, php, antidot, chubbyphp, hyperf, laravel, lumen, sunrise-router-annotations, yii-swoole, pony, python, r, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro, rust, scala, swift

c:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

clojure:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

cpp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

crystal:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

csharp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

dart:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

elixir:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

fsharp:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

go:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sem-version ruby 3.0.0
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
  ...

enable semaphore
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Rakefile
  config.yaml
Due: none

missing gemfiles
  ruby/grape/.falcon/Gemfile
  ruby/grape/.iodine/Gemfile
  ruby/sinatra/.falcon/Gemfile
  ruby/sinatra/.iodine/Gemfile
Due: ruby, grape, sinatra

decrease config size
  .tasks/db.rake
  dump.sql
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
  ruby/rails/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, sinatra, syro

use default engine, if provided
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

add gemfile for iodine/falcon for all ruby frameworks (except agoo)
  ruby/camping/.falcon/Gemfile
  ruby/camping/.iodine/Gemfile
  ruby/cuba/.falcon/Gemfile
  ruby/cuba/.iodine/Gemfile
  ruby/hanami-api/.falcon/Gemfile
  ruby/hanami-api/.iodine/Gemfile
  ruby/rack-routing/.falcon/Gemfile
  ruby/rack-routing/.iodine/Gemfile
  ruby/rack_app/.falcon/Gemfile
  ruby/rack_app/.iodine/Gemfile
  ruby/roda/.falcon/Gemfile
  ruby/roda/.iodine/Gemfile
  ruby/syro/.falcon/Gemfile
  ruby/syro/.iodine/Gemfile
Due: ruby, camping, cuba, hanami-api, rack-routing, rack_app, roda, syro

missing routes file for rack-routing
  ruby/rack-routing/config.yaml
Due: ruby, rack-routing

auto-generate ci config
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/db.rake
  Rakefile
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
  ruby/rails/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, sinatra, syro

add run-all wrapper
  Rakefile
  config.yaml
Due: none

display mutliple variants on README
  .spec/route_spec.rb
  .spec/spec_helper.rb
  .tasks/ci.rake
  .tasks/collect.rake
  .tasks/db.rake
  .tasks/support.rb
  Makefile
  dump.sql
  ruby/agoo/app.rb
Due: ruby, agoo

fix laravel
  .tasks/ci.rake
  Rakefile
Due: none

update ci
  .semaphore/semaphore.yml
Due: none

add sinatra in ruby block
  ruby/rails/.falcon/Gemfile
  ruby/rails/.iodine/Gemfile
Due: ruby, rails

create configuration for all ruby frameworks
  Rakefile
Due: none

use workdir to run all operations (avoid cd)
  Rakefile
  config.yaml
Due: none

test only rails
  Rakefile
Due: none

fix specs
  .tasks/db.rake
  php/laravel/config.yaml
  pony/config.yaml
Due: php, laravel, pony

update ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

use ruby 3 on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

no need to set ruby version, use default on ci
  .tasks/ci.rake
Due: none

add antidot on react
  .semaphore/semaphore.yml
  .tasks/ci.rake
  php/antidot/config.yaml
Due: php, antidot

fix files exlusion list
  php/config.yaml
Due: php

add clean command
  .gitignore
  .ruby-version
  .talismanrc
  Rakefile
  c/.gitignore
  clojure/.gitignore
  crystal/.gitignore
  dart/.gitignore
  haskell/.gitignore
  javascript/.gitignore
  kotlin/.gitignore
  php/laravel/.swoole/composer.json
  php/laravel/.workerman/composer.json
  php/laravel/bin/laravels
  python/.gitignore
  swift/.gitignore
Due: c, clojure, crystal, dart, haskell, javascript, kotlin, php, laravel, python, swift

add cli to for lumen
  Rakefile
  php/lumen/artisan
Due: php, lumen

remove ruby version file
  .ruby-version
Due: none

use makefile to clean v1 temp files
  Makefile
Due: none

fix laravel-s
  .tasks/collect.rake
  .tasks/db.rake
  php/laravel/config/laravels.php
  php/lumen/config.yaml
  php/lumen/config/laravels.php
Due: php, laravel, lumen

fix ruby dockerfile
  ruby/Dockerfile
Due: ruby

fix ruby version to 3.0
  .ruby-version
Due: none

add file exclusion ability
  Rakefile
  php/config.yaml
  php/lumen/config.yaml
Due: php, lumen

fix config parsing
  .semaphore/semaphore.yml
  Rakefile
Due: none

update crystal gitignore file
  crystal/.gitignore
Due: crystal

update ci config
  .semaphore/semaphore.yml
Due: none

insert variant on collect step
  .tasks/collect.rake
Due: none

use absolute paths
  .gitignore
  php/antidot/config.yaml
Due: php, antidot

specify ruby version
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

add all available variants on CI
  .gitignore
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/support.rb
  php/hyperf/config.yaml
Due: php, hyperf

fix ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

Path conditions:
  c: any of: c/
  clojure: any of: clojure/
  cpp: any of: cpp/
  crystal: any of: crystal/
  csharp: any of: csharp/
  dart: any of: dart/
  elixir: any of: elixir/
  fsharp: any of: fsharp/
  go: any of: go/
  haskell: any of: haskell/
  java: any of: java/
  javascript: any of: javascript/
  julia: any of: julia/
  kotlin: any of: kotlin/
  nim: any of: nim/
  perl: any of: perl/
  php: any of: php/
  antidot: any of: php/antidot
  chubbyphp: any of: php/chubbyphp
  hyperf: any of: php/hyperf
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  yii-swoole: any of: php/yii-swoole
  pony: any of: pony/
  python: any of: python/
  r: any of: r/
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro
  rust: any of: rust/
  scala: any of: scala/
  swift: any of: swift/
