Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro

Path conditions:
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro

fix outdate collect command
  Rakefile
Due: none

fix outdate collect command
  Rakefile
  config.yaml
Due: none

fix outdate collect command
  .spec/spec_helper.rb
  Rakefile
  config.yaml
Due: none

use raw export on ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

update results
  .tasks/db.rake
  data.json
  data.min.json
Due: none

Update dependency sunrise/http-router to ~2.7.0
  php/sunrise-router-annotations/composer.json
  php/sunrise-router-roadrunner/composer.json
  php/sunrise-router/composer.json
Due: none

update version in results
  php/sunrise-router-annotations/config.yaml
  php/sunrise-router-roadrunner/config.yaml
  php/sunrise-router/config.yaml
Due: none

add reviewer
  reviewers.yaml
Due: none

[haskell]: setting lts to 17.11
  haskell/scotty/stack.yaml
  haskell/servant/stack.yaml
Due: none

enable semaphore
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Rakefile
  config.yaml
Due: none

create configuration for all ruby frameworks
  Rakefile
Due: none

introduce variants
  .tasks/collect.rake
  Rakefile
  ruby/Dockerfile
  ruby/config.yaml
Due: ruby

add sinatra in ruby block
  ruby/rails/.falcon/Gemfile
  ruby/rails/.iodine/Gemfile
Due: ruby, rails

fix specs
  .tasks/db.rake
  php/laravel/config.yaml
  pony/config.yaml
Due: none

test only rails
  Rakefile
Due: none

add iodine
  Rakefile
  ruby/config.yaml
Due: ruby

use default engine, if provided
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

auto-generate ci config
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/db.rake
  Rakefile
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
  ruby/rails/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, sinatra, syro

decrease config size
  .tasks/db.rake
  dump.sql
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
  ruby/rails/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, sinatra, syro

update ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

use workdir to run all operations (avoid cd)
  Rakefile
  config.yaml
Due: none

specify ruby version
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

add clean command
  .gitignore
  .ruby-version
  .talismanrc
  Rakefile
  c/.gitignore
  clojure/.gitignore
  crystal/.gitignore
  dart/.gitignore
  haskell/.gitignore
  javascript/.gitignore
  kotlin/.gitignore
  php/laravel/.swoole/composer.json
  php/laravel/.workerman/composer.json
  php/laravel/bin/laravels
  python/.gitignore
  swift/.gitignore
Due: none

missing routes file for rack-routing
  ruby/rack-routing/config.yaml
Due: ruby, rack-routing

fix laravel
  .tasks/ci.rake
  Rakefile
Due: none

display mutliple variants on README
  .spec/route_spec.rb
  .spec/spec_helper.rb
  .tasks/ci.rake
  .tasks/collect.rake
  .tasks/db.rake
  .tasks/support.rb
  Makefile
  dump.sql
  ruby/agoo/app.rb
Due: ruby, agoo

use ruby 3 on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

add antidot on react
  .semaphore/semaphore.yml
  .tasks/ci.rake
  php/antidot/config.yaml
Due: none

fix ruby version to 3.0
  .ruby-version
Due: none

add run-all wrapper
  Rakefile
  config.yaml
Due: none

add gemfile for iodine/falcon for all ruby frameworks (except agoo)
  ruby/camping/.falcon/Gemfile
  ruby/camping/.iodine/Gemfile
  ruby/cuba/.falcon/Gemfile
  ruby/cuba/.iodine/Gemfile
  ruby/hanami-api/.falcon/Gemfile
  ruby/hanami-api/.iodine/Gemfile
  ruby/rack-routing/.falcon/Gemfile
  ruby/rack-routing/.iodine/Gemfile
  ruby/rack_app/.falcon/Gemfile
  ruby/rack_app/.iodine/Gemfile
  ruby/roda/.falcon/Gemfile
  ruby/roda/.iodine/Gemfile
  ruby/syro/.falcon/Gemfile
  ruby/syro/.iodine/Gemfile
Due: ruby, camping, cuba, hanami-api, rack-routing, rack_app, roda, syro

update ci
  .semaphore/semaphore.yml
Due: none

missing gemfiles
  ruby/grape/.falcon/Gemfile
  ruby/grape/.iodine/Gemfile
  ruby/sinatra/.falcon/Gemfile
  ruby/sinatra/.iodine/Gemfile
Due: ruby, grape, sinatra

fix ruby dockerfile
  ruby/Dockerfile
Due: ruby

add all available variants on CI
  .gitignore
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/support.rb
  php/hyperf/config.yaml
Due: none

add cli to for lumen
  Rakefile
  php/lumen/artisan
Due: none

insert variant on collect step
  .tasks/collect.rake
Due: none

update crystal gitignore file
  crystal/.gitignore
Due: none
