Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: php, chubbyphp, ruby

php:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
    - psql -U postgres -h 0.0.0.0 -d benchmark < dump.sql
  ...

chubbyphp:
  env_vars:
  - name: LANGUAGE
    value: php
  - name: FRAMEWORK
    value: chubbyphp
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

ruby:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
    - psql -U postgres -h 0.0.0.0 -d benchmark < dump.sql
  ...

fix specs
  .tasks/db.rake
  README.mustache.md
Due: none

use workdir to run all operations (avoid cd)
  Rakefile
  config.yaml
Due: none

use default engine, if provided
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

add gemfile for iodine/falcon for all ruby frameworks (except agoo)
  ruby/camping/.falcon/Gemfile
  ruby/camping/.iodine/Gemfile
  ruby/cuba/.falcon/Gemfile
  ruby/cuba/.iodine/Gemfile
  ruby/hanami-api/.falcon/Gemfile
  ruby/hanami-api/.iodine/Gemfile
  ruby/rack-routing/.falcon/Gemfile
  ruby/rack-routing/.iodine/Gemfile
  ruby/rack_app/.falcon/Gemfile
  ruby/rack_app/.iodine/Gemfile
  ruby/roda/.falcon/Gemfile
  ruby/roda/.iodine/Gemfile
  ruby/syro/.falcon/Gemfile
  ruby/syro/.iodine/Gemfile
Due: ruby

missing routes file for rack-routing
  ruby/rack-routing/config.yaml
Due: ruby

fix laravel
  .tasks/ci.rake
  Rakefile
  php/laravel/config.yaml
Due: php

missing gemfiles
  ruby/grape/.falcon/Gemfile
  ruby/grape/.iodine/Gemfile
  ruby/sinatra/.falcon/Gemfile
  ruby/sinatra/.iodine/Gemfile
Due: ruby

fix rack-routing
  .tasks/ci.rake
Due: none

auto-generate ci config
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/collect.rake
  .tasks/db.rake
  Rakefile
  ruby/agoo/app.rb
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
  ruby/rails/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby

enable semaphore
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Rakefile
  config.yaml
Due: none

display mutliple variants on README
  .spec/route_spec.rb
  .spec/spec_helper.rb
  .tasks/ci.rake
  .tasks/collect.rake
  .tasks/db.rake
  Makefile
  README.mustache.md
  dump.sql
Due: none

add iodine
  Rakefile
  ruby/config.yaml
Due: ruby

create configuration for all ruby frameworks
  Rakefile
Due: none

add sinatra in ruby block
  ruby/rails/.falcon/Gemfile
  ruby/rails/.iodine/Gemfile
Due: ruby

add run-all wrapper
  .tasks/db.rake
  Rakefile
  config.yaml
Due: none

test only rails
  Rakefile
Due: none

update ci
  .semaphore/semaphore.yml
Due: none

update ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

Update dependency io.quarkus:quarkus-maven-plugin to v1.13.0.Final
  java/quarkus/pom.xml
Due: none

update version in result
  java/quarkus/config.yaml
Due: none

add antidot on react
  .semaphore/semaphore.yml
  .tasks/ci.rake
  php/antidot/config.yaml
Due: php

Update dependency index.py to >=0.16,<0.18
  python/index.py/requirements.txt
Due: none

update version in result
  python/index.py/config.yaml
  python/index.py/requirements.txt
Due: none

fix breaking change
  python/index.py/server.py
Due: none

upgrade to 1.0
  crystal/Dockerfile
  crystal/config.yaml
Due: none

[Crystal] Update kemal to v1 (#4099)
  crystal/kemal/config.yaml
  crystal/kemal/shard.yml
Due: none

remove --production flag on shards
  crystal/Dockerfile
Due: none

Update dependency hummingbird-project/hummingbird to from: "0.7.1"
  swift/hummingbird-framework/Package.swift
Due: none

add reviewer fron router.cr [skip ci]
  reviewers.yaml
Due: none

Update rust Docker tag to v1.51
  rust/Dockerfile
Due: none

update version in results
  rust/config.yaml
Due: none

Update module github.com/fasthttp/router to v1.3.10
  go/router/go.mod
Due: none

update grip to 5.0
  crystal/grip/config.yaml
  crystal/grip/shard.yml
Due: none

Path conditions:
  php: any of: php/
  chubbyphp: any of: php/chubbyphp
  ruby: any of: ruby/
