Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, laravel-s-laravel, laravel-s-lumen, lumen, mark, mezzio, nano, nette, one, phalcon, siler, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii

Path conditions:
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  laravel-s-laravel: any of: php/laravel-s-laravel
  laravel-s-lumen: any of: php/laravel-s-lumen
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii

update version in results
  php/laravel/config.yaml
Due: php, laravel

[Crystal] Upgrade to 1.0 (#4098)
  crystal/Dockerfile
  crystal/amber/config.yaml
  crystal/amber/shard.yml
  crystal/config.yaml
  crystal/kemal/config.yaml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/orion/src/server.cr
  crystal/runcobo/config.yaml
  crystal/runcobo/shard.yml
  crystal/shivneri/config.yaml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
  reviewers.yaml
Due: none

update results
  data.json
  data.min.json
Due: none

switch to debian for c based frameworks
  c/Dockerfile
  c/kore/config.yaml
Due: none

fix ci for update PR
  .semaphore/semaphore.yml
  .tasks/ci.rake
  php/slim/config.yaml
Due: php, slim

update results
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  data.json
  data.min.json
Due: none

use httpbeast 0.2
  nim/httpbeast/server.nimble
  nim/whip/server.nimble
Due: none

update ci
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
Due: none

update httpbeast / whip results
  data.json
  data.min.json
  nim/whip/server.nimble
Due: none

Update dependency vapor/vapor to from: "4.48.2"
  swift/vapor-framework/Package.swift
Due: none

Update quarkus.platform.version to v2.0.2.Final
  java/quarkus/pom.xml
Due: none

Update ponylang/ponyc Docker tag to v0.43.0
  pony/Dockerfile
Due: none

extract extension compilation from main container, for php
  php/Dockerfile
Due: php

update results
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  config.yaml
  data.json
  data.min.json
  swift/vapor-framework/config.yaml
Due: none

add vapor
  data.json
  data.min.json
Due: none

Results update on 16th of July 2021 (#4408)
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
  c/Dockerfile
  c/kore/config.yaml
  config.yaml
  data.json
  data.min.json
  nim/httpbeast/server.nimble
  nim/whip/server.nimble
  php/slim/config.yaml
  swift/vapor-framework/config.yaml
Due: php, slim

Update module github.com/gofiber/fiber/v2 to v2.15.0
  go/fiber/go.mod
Due: none

update version in results
  go/fiber/config.yaml
Due: none

Add Prologue
  nim/prologue/config.yaml
  nim/prologue/server.nim
  nim/prologue/server.nim.cfg
  nim/prologue/server.nimble
Due: none

Update crystallang/crystal Docker tag to v1.1.0
  crystal/Dockerfile
Due: none

update version in results
  crystal/config.yaml
Due: none

force 0.4.x
  nim/prologue/server.nimble
Due: none

[Nim] Add Prologue (#4475)
  nim/prologue/config.yaml
  nim/prologue/server.nim
  nim/prologue/server.nim.cfg
  nim/prologue/server.nimble
Due: none

Upgrade hyperf to v2.2
  php/hyperf/composer.json
Due: php, hyperf

Update config.yaml
  php/hyperf/config.yaml
Due: php, hyperf

Upgrade hyperf to v2.2
  php/hyperf/composer.json
  php/hyperf/config.yaml
Due: php, hyperf

update to v5
  php/phalcon/composer.json
  php/phalcon/config.yaml
Due: php, phalcon

allow to specify stability level of pecl packages
  Rakefile
  php/Dockerfile
Due: php

[PHP] Upgrade hyperf to v2.2 (#4477)
  php/hyperf/composer.json
  php/hyperf/config.yaml
Due: php, hyperf
