Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: c, clojure, cpp, crystal, csharp, dart, elixir, fsharp, go, haskell, java, javascript, julia, kotlin, nim, perl, php, antidot, chubbyphp, hyperf, laravel, lumen, sunrise-router-annotations, yii-swoole, pony, python, r, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro, rust, scala, swift

Path conditions:
  c: any of: c/
  clojure: any of: clojure/
  cpp: any of: cpp/
  crystal: any of: crystal/
  csharp: any of: csharp/
  dart: any of: dart/
  elixir: any of: elixir/
  fsharp: any of: fsharp/
  go: any of: go/
  haskell: any of: haskell/
  java: any of: java/
  javascript: any of: javascript/
  julia: any of: julia/
  kotlin: any of: kotlin/
  nim: any of: nim/
  perl: any of: perl/
  php: any of: php/
  antidot: any of: php/antidot
  chubbyphp: any of: php/chubbyphp
  hyperf: any of: php/hyperf
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  yii-swoole: any of: php/yii-swoole
  pony: any of: pony/
  python: any of: python/
  r: any of: r/
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro
  rust: any of: rust/
  scala: any of: scala/
  swift: any of: swift/

remove --production flag on shards
  crystal/Dockerfile
Due: crystal

[Crystal] Update spider-gazelle to v4.3 (#4132)
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Due: crystal

remove version workaround
  crystal/Dockerfile
Due: crystal

ignore crystal version
  crystal/Dockerfile
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

upgrade to 1.0
  crystal/Dockerfile
  crystal/config.yaml
Due: crystal

add reviewer fron router.cr [skip ci]
  reviewers.yaml
Due: none

[Crystal] Update kemal to v1 (#4099)
  crystal/kemal/config.yaml
  crystal/kemal/shard.yml
Due: crystal

update runcobo to 2.0 which support crystal 1.0
  crystal/runcobo/config.yaml
  crystal/runcobo/shard.yml
Due: crystal

create orion source directory
  crystal/orion/shard.yml
  crystal/orion/src/server.cr
Due: crystal

Update dependency io.quarkus:quarkus-maven-plugin to v1.13.3.Final
  java/quarkus/pom.xml
Due: java

Update dependency vapor/vapor to from: "4.44.2"
  swift/vapor-framework/Package.swift
Due: swift

Update module github.com/valyala/fasthttp to v1.24.0
  go/fasthttp/go.mod
  go/gorouter-fasthttp/go.mod
Due: go

update version in results
  go/fasthttp/config.yaml
Due: go

add yaml static on container
  crystal/Dockerfile
Due: crystal

specify crystal version in shard.yml
  crystal/amber/shard.yml
  crystal/athena/shard.yml
  crystal/grip/shard.yml
  crystal/kemal/shard.yml
  crystal/orion/shard.yml
  crystal/router.cr/shard.yml
  crystal/runcobo/shard.yml
  crystal/shivneri/shard.yml
  crystal/spider-gazelle/shard.yml
  crystal/toro/shard.yml
Due: crystal

Update dependency laravel/framework to ~8.40.0
  php/laravel/composer.json
Due: php, laravel

update version in results
  php/laravel/config.yaml
Due: php, laravel

Update swift Docker tag to v5.4
  swift/Dockerfile
Due: swift

update version in results
  swift/config.yaml
Due: swift

Update dependency vapor/vapor to from: "4.44.3"
  swift/vapor-framework/Package.swift
Due: swift

Update module github.com/fasthttp/router to v1.3.12
  go/router/go.mod
Due: go

Update module github.com/savsgio/atreugo/v11 to v11.7.0
  go/atreugo/go.mod
Due: go

update version in results
  go/atreugo/config.yaml
Due: go

Update module goyave.dev/goyave/v3 to v3.8.0
  go/goyave/go.mod
Due: go

update version in results
  go/goyave/config.yaml
Due: go

Update quarkus.platform.version to v1.13.3.Final
  java/quarkus/pom.xml
Due: java

update version
  scala/finatra/build.sbt
  scala/finatra/config.yaml
Due: scala

[Python] Add framework baize
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  python/baize(asgi)/config.yaml
  python/baize(asgi)/requirements.txt
  python/baize(asgi)/server.py
  python/baize(wsgi)/config.yaml
  python/baize(wsgi)/requirements.txt
  python/baize(wsgi)/server.py
  reviewers.yaml
Due: python

Update dependency vapor/vapor to from: "4.44.4"
  swift/vapor-framework/Package.swift
Due: swift

[Scala] Update finatra to 2.14 (#4232)
  scala/finatra/build.sbt
  scala/finatra/config.yaml
Due: scala

Update ponylang/ponyc Docker tag to v0.40.0
  pony/Dockerfile
Due: pony
